#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(2):hover .header__bottom-item-btn {
  color: #000;
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(4):hover .header__bottom-item-btn {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(6):hover .header__bottom-item-btn {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(8):hover .header__bottom-item-btn {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(10):hover .header__bottom-item-btn {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(12):hover .header__bottom-item-btn {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(14):hover .header__bottom-item-btn {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(16):hover .header__bottom-item-btn {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(18):hover .header__bottom-item-btn {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(20):hover .header__bottom-item-btn {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(22):hover .header__bottom-item-btn {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(24):hover .header__bottom-item-btn {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(26):hover .header__bottom-item-btn {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(28):hover .header__bottom-item-btn {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(30):hover .header__bottom-item-btn {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(32):hover .header__bottom-item-btn {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(34):hover .header__bottom-item-btn {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(6) .header__bottom-item-name:hover span {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(8) .header__bottom-item-name:hover span {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(10) .header__bottom-item-name:hover span {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(12) .header__bottom-item-name:hover span {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(14) .header__bottom-item-name:hover span {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(18) .header__bottom-item-name:hover span {
  color: var(--bg-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(2):hover {
  background-color: var(--header-bottom-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(4):hover {
  background-color: var(--hover-chart-1);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(6):hover {
  background-color: var(--header-bottom-color);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(8):hover {
  background-color: var(--hover-chart-2);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(10):hover {
  background-color: var(--hover-chart-1);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(12):hover {
  background-color: var(--hover-chart-3);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(14):hover {
  background-color: var(--hover-chart-4);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(16):hover {
  background-color: var(--hover-chart-5);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(18):hover {
  background-color: var(--hover-chart-6);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(20):hover {
  background-color: var(--hover-chart-7);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(22):hover {
  background-color: var(--hover-chart-8);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(24):hover {
  background-color: var(--hover-chart-9);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(26):hover {
  background-color: var(--hover-chart-1);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(28):hover {
  background-color: var(--hover-chart-10);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(30):hover {
  background-color: var(--hover-chart-11);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(32):hover {
  background-color: var(--hover-chart-10);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(34):hover {
  background-color: var(--primary);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(2) .header__bottom-item-name:hover {
  background-color: rgb(196.98, 196.98, 196.98);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(6) .header__bottom-item-name:hover {
  background-color: rgb(196.98, 196.98, 196.98);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(10) .header__bottom-item-name:hover {
  background-color: var(--hover-chart-1);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(12) .header__bottom-item-name:hover {
  background-color: var(--hover-chart-3);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(14) .header__bottom-item-name:hover {
  background-color: var(--hover-chart-4);
}
#header-bottom-slider-container.header__bottom-slider .header__bottom-slider-item:nth-child(18) .header__bottom-item-name:hover {
  background-color: var(--hover-chart-6);
}

.header__top {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
}
.header__top-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 16px;
  padding-right: 8px;
}
.header__top-right .dropdown-menu {
  width: 192px;
  max-width: fit-content;
  background-color: #fff;
  border: 1px solid var(--stroke);
  padding: 12px;
}
.header__top-right-date {
  display: none;
}
@media (min-width: 768px) {
  .header__top-right-date {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
    gap: 4px;
  }
  .header__top-right-date span {
    font-family: yekan;
    font-size: 12px;
  }
}
.header__top-right-login {
  width: 110px;
  font-size: 13px;
  background-color: var(--secondary);
  color: var(--bg-color);
  border-radius: 2px;
  cursor: pointer;
  padding: 3px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.header__top-right-login-button {
  background-color: inherit;
  color: var(--bg-color);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.header__top-right-login-inputs {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 0px;
  padding: 0;
}
.header__top-right-login-inputs .header__top-right-login-input {
  width: 100%;
  border: 1px solid var(--stroke);
  padding: 8px 4px;
  font-family: nassim-normal;
  font-size: 13px;
}
.header__top-right-login-inputs .header__top-right-login-input:focus {
  box-shadow: 0 0 5px 0px var(--primary);
  border: 1px solid var(--primary);
}
.header__top-right-login-remember {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 8px;
  font-size: 13px;
  padding: 8px 0;
}
.header__top-right-login-remember label {
  font-family: nassim-normal;
}
.header__top-right-login-actions {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.header__top-right-login-actions .header__top-right-login-submit,
.header__top-right-login-actions .header__top-right-register {
  width: 80px;
  padding: 6px 12px;
  background-color: var(--primary);
  color: #fff;
  font-family: nassim-normal;
  font-size: 14px;
}
.header__top-right-login-actions .header__top-right-login-submit {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.header__top-right-login-actions .header__top-right-register {
  background-color: var(--bg-color);
  color: #000;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.header__top-left {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: end;
  gap: 8px;
  overflow: hidden;
  padding-left: 8px;
}
.header__top-left-menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 12px;
  font-size: 11px;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.header__top-left-menu::-webkit-scrollbar {
  display: none;
}
.header__top-left-menu-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 7px 4px;
  cursor: pointer;
  min-width: fit-content;
}
.header__top-left-menu-item:first-child {
  border-right: 1px solid var(--stroke);
}
@media (min-width: 992px) {
  .header__top-left-menu-item {
    transition: none 0 ease;
    color: #000;
  }
  .header__top-left-menu-item:hover {
    background-color: var(--stroke);
  }
}
@media (min-width: 768px) {
  .header__top-left-menu {
    display: none;
  }
}
@media (min-width: 992px) {
  .header__top-left-menu {
    overflow-x: visible;
    display: flex;
    font-size: 13px;
  }
}
.header__top-left-search {
  display: none;
}
@media (min-width: 768px) {
  .header__top-left-search {
    display: block;
    background-color: var(--stroke);
    padding: 4px 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-family: tahoma;
  }
}
.header__top-left-search-input {
  background-color: inherit;
  margin-right: 8px;
}

.header__middle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--primary);
  margin: 0 auto;
}
@media (min-width: 992px) {
  .header__middle {
    position: relative;
  }
}
.header__middle .navbar {
  width: 100%;
  max-width: 1246px;
  align-items: center !important;
  padding: 0;
}
.header__middle .navbar-collapse {
  margin: 0;
  width: 100%;
  background-color: var(--menu-color);
}
@media (min-width: 992px) {
  .header__middle .navbar-collapse {
    width: 100%;
    margin-right: 8px;
    background-color: transparent;
    background-image: url("../../../public/images/header-overlay.png");
    background-repeat: no-repeat;
    background-position: center right;
  }
}
@media (min-width: 992px) {
  .header__middle .navbar-nav {
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
    gap: 4px;
  }
}
.header__middle .nav-item {
  padding: 0;
  margin: 0;
}
@media (min-width: 992px) {
  .header__middle .nav-item {
    position: static;
  }
}
.header__middle .nav-item:hover .nav-link {
  background-color: var(--menu-item-hover);
  border-radius: 2px;
}
@media (min-width: 992px) {
  .header__middle .nav-item:hover .nav-link {
    background-color: var(--menu-color-hover);
    box-shadow: 0 0 2px 2px var(--menu-color-hover) inset;
    backdrop-filter: blur(5px);
  }
}
@media (min-width: 992px) {
  .header__middle .nav-item:hover .dropdown-menu {
    display: block;
  }
}
.header__middle .nav-link {
  color: var(--bg-color);
  font-size: 1.2rem;
  padding: 12px 8px;
}
@media (min-width: 992px) {
  .header__middle .nav-link {
    padding: 25px 0;
    transition: all 0.2s ease;
  }
}
.header__middle .nav-link::after {
  vertical-align: middle;
}
.header__middle .nav-link:focus, .header__middle .nav-link:hover, .header__middle .nav-link:visited {
  color: var(--bg-color) !important;
}
.header__middle-bars-button {
  margin: 4px 8px;
  margin-left: 8px;
  background-color: var(--primary);
  color: var(--bg-color);
  padding: 8px 12px 4px;
  border-radius: 2px;
  border: 1px solid var(--menu-color);
}
.header__middle-bars-button:hover {
  background-color: var(--menu-color);
}
@media (min-width: 992px) {
  .header__middle-bars-button {
    display: none;
  }
}
.header__middle-logo, .header__middle-logo-year {
  max-width: 135px;
}
@media (min-width: 1200px) {
  .header__middle-logo, .header__middle-logo-year {
    max-width: fit-content;
  }
}
.header__middle-logo-year, .header__middle-logo-year-year {
  margin-left: 8px;
}
@media (min-width: 1200px) {
  .header__middle-logo-year, .header__middle-logo-year-year {
    padding: 0;
  }
}
.header__middle .dropdown-menu {
  width: 100vw;
  position: absolute;
  top: 98%;
  right: calc(50% - 50vw);
  background-color: #111111;
  border: none;
  border-radius: 0;
  border-bottom: 5px solid var(--primary);
  padding: 0;
  margin: 0;
}
.header__middle-dropdown-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  color: var(--bg-color);
}
@media (min-width: 992px) {
  .header__middle-dropdown-container {
    max-width: 1246px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    justify-content: center;
    gap: 12px;
    margin: 0 auto;
    padding: 0 8px;
    margin-bottom: 8px;
  }
}
.header__middle-dropdown-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  border: 8px solid var(--menu-wrapper);
}
@media (min-width: 992px) {
  .header__middle-dropdown-wrapper {
    border: none;
    background-color: var(--menu-color);
    margin-top: 12px;
  }
}
.header__middle-dropdown-title {
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 4px;
  background-color: var(--menu-wrapper);
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}
.header__middle-dropdown-title:hover {
  background-color: var(--primary);
}
.header__middle-dropdown__items--base, .header__middle-dropdown__items--3col, .header__middle-dropdown__items--basic {
  width: 100%;
  background-color: var(--menu-color);
  padding: 8px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.header__middle-dropdown__items--base span, .header__middle-dropdown__items--3col span, .header__middle-dropdown__items--basic span,
.header__middle-dropdown__items--base li,
.header__middle-dropdown__items--3col li,
.header__middle-dropdown__items--basic li {
  text-align: start;
  font-size: 15px;
  font-family: nassim-normal;
  cursor: pointer;
  transition: all 0.2s ease;
}
.header__middle-dropdown__items--grid-base, .header__middle-dropdown__items--4col-grid, .header__middle-dropdown__items--2col-grid {
  width: 100%;
  display: grid;
  column-gap: 8px;
  padding: 8px 0;
}
.header__middle-dropdown__items--grid-base li, .header__middle-dropdown__items--4col-grid li, .header__middle-dropdown__items--2col-grid li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 8px;
  width: 100%;
  padding: 4px;
  margin: 4px;
  border-left: 1px solid var(--menu-wrapper);
  transition: inherit;
}
.header__middle-dropdown__items--grid-base li:last-child, .header__middle-dropdown__items--4col-grid li:last-child, .header__middle-dropdown__items--2col-grid li:last-child {
  border: none;
}
.header__middle-dropdown__items--grid-base li:hover, .header__middle-dropdown__items--4col-grid li:hover, .header__middle-dropdown__items--2col-grid li:hover {
  background-color: var(--primary);
}
.header__middle-dropdown__items--grid-base li:hover i, .header__middle-dropdown__items--4col-grid li:hover i, .header__middle-dropdown__items--2col-grid li:hover i {
  color: var(--bg-color) !important;
}
.header__middle-dropdown__items--grid-base li i, .header__middle-dropdown__items--4col-grid li i, .header__middle-dropdown__items--2col-grid li i {
  color: var(--primary);
  transition: inherit;
}
.header__middle-dropdown__items--basic span {
  width: 49%;
}
.header__middle-dropdown__items--basic span:hover {
  padding-right: 6px;
  background-color: var(--primary);
}
.header__middle-dropdown__items--3col span {
  width: 32%;
}
.header__middle-dropdown__items--3col span:hover {
  padding-right: 6px;
  background-color: var(--primary);
}
.header__middle-dropdown__items--2col-grid {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
@media (min-width: 992px) {
  .header__middle-dropdown__items--2col-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    background-color: #111111;
  }
}
.header__middle-dropdown__items--4col-grid {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
@media (min-width: 992px) {
  .header__middle-dropdown__items--4col-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    background-color: #111111;
  }
}
.header__middle-dropdown__items--logo-grid {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  justify-content: space-between;
  gap: 0;
  padding: 8px 0;
}
.header__middle-dropdown__items--logo-grid li {
  width: 49.8%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  margin: 4px 0;
  cursor: pointer;
}
@media (min-width: 992px) {
  .header__middle-dropdown__items--logo-grid li {
    width: auto;
    border: 5px solid #fff;
    transition: all 0.1s ease;
  }
  .header__middle-dropdown__items--logo-grid li:hover {
    border-color: var(--primary);
  }
}
@media (min-width: 992px) {
  .header__middle-dropdown__items--logo-grid {
    justify-content: center;
    gap: 16px;
    background-color: #111111;
  }
}

.header__bottom {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--stroke);
  position: relative;
}
.header__bottom-container {
  width: 100%;
  max-width: 1275px;
  padding: 0 4px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.header__bottom-right-icon, .header__bottom-left-icon {
  cursor: pointer;
  border-radius: 2px;
  padding: 8px 4px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.header__bottom-right-icon:hover, .header__bottom-left-icon:hover {
  background-color: var(--bg-color);
}
.header__bottom-slider {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.header__bottom-slider::-webkit-scrollbar {
  display: none;
}
.header__bottom-slider-item {
  min-width: 5px;
  white-space: nowrap;
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
}
.header__bottom-slider-item:hover .header__bottom-item-container {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 32px;
  left: 0;
  background-color: var(--header-bottom-color);
  border-bottom: 1px solid var(--secondary);
  z-index: 10;
}
.header__bottom-slider-item:hover .header__bottom-item-container > div {
  width: 100%;
  max-width: 1246px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8px;
}
@media (min-width: 992px) {
  .header__bottom-slider-item:hover .header__bottom-item-container > div {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) {
  .header__bottom-slider-item:hover .header__bottom-item-container > div {
    grid-template-columns: repeat(6, 1fr);
  }
}
.header__bottom-item-btn {
  width: 100%;
  font-size: 16px;
  font-family: nassim-normal;
  font-weight: 400;
  background-color: inherit;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px;
}
.header__bottom-item-container {
  display: none;
}
.header__bottom-item-name {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  gap: 8px;
  border-radius: 2px;
  margin-right: 5px;
}
.header__bottom-item-name div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.header__bottom-item-name span {
  color: var(--menu-wrapper);
  font-family: nassim-normal;
  font-weight: 400;
  font-size: 16px;
}
.header__bottom-item-icon {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-color: var(--bg-color);
  border-radius: 4px;
}
.header__bottom-item-bars {
  padding: 16px 4px;
}
.header__bottom-item-bars:hover {
  background-color: var(--header-bottom-color);
}

/*# sourceMappingURL=header.css.map */
