.bottom__slider--item:nth-child(2):hover {
  background-color: var(--header-bottom-color);
}
.bottom__slider--item:nth-child(2):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(4):hover {
  background-color: var(--hover-chart-1);
}
.bottom__slider--item:nth-child(4):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(6):hover {
  background-color: var(--hover-chart-2);
}
.bottom__slider--item:nth-child(6):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(8):hover {
  background-color: var(--hover-chart-3);
}
.bottom__slider--item:nth-child(8):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(10):hover {
  background-color: var(--hover-chart-4);
}
.bottom__slider--item:nth-child(10):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(12):hover {
  background-color: var(--hover-chart-5);
}
.bottom__slider--item:nth-child(12):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(14):hover {
  background-color: var(--hover-chart-6);
}
.bottom__slider--item:nth-child(14):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(16):hover {
  background-color: var(--hover-chart-7);
}
.bottom__slider--item:nth-child(16):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(18):hover {
  background-color: var(--hover-chart-8);
}
.bottom__slider--item:nth-child(18):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(20):hover {
  background-color: var(--hover-chart-9);
}
.bottom__slider--item:nth-child(20):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(22):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(24):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(26):hover {
  background-color: var(--hover-chart-10);
}
.bottom__slider--item:nth-child(26):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(28):hover {
  background-color: var(--hover-chart-11);
}
.bottom__slider--item:nth-child(28):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(30):hover {
  background-color: var(--hover-chart-10);
}
.bottom__slider--item:nth-child(30):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(32):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(34):hover {
  background-color: var(--primary);
}
.bottom__slider--item:nth-child(34):hover .bottom__item--btn {
  color: var(--bg-color);
}

.header__section--top {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
}
.header__section--middle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--primary);
  margin: 0 auto;
}
@media (min-width: 992px) {
  .header__section--middle {
    position: relative;
  }
}
.header__section--bottom {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--stroke);
  position: relative;
}

.top__right--container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 16px;
  padding-right: 8px;
}
.top__right--container .dropdown-menu {
  width: 192px;
  max-width: fit-content;
  background-color: #fff;
  border: 1px solid var(--stroke);
  padding: 12px;
}
.top__right--container .dropdown-menu .dropdown__input--container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 0px;
  padding: 0;
}
.top__right--container .dropdown-menu .dropdown__input--container input {
  width: 100%;
  border: 1px solid var(--stroke);
  padding: 8px 4px;
  font-family: nassim-normal;
  font-size: 13px;
}
.top__right--container .dropdown-menu .dropdown__input--container input:focus {
  box-shadow: 0 0 5px 0px var(--primary);
  border: 1px solid var(--primary);
}
.top__right--container .dropdown-menu .dropdown__terms--container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 8px;
  font-size: 13px;
  padding: 8px 0;
}
.top__right--container .dropdown-menu .dropdown__terms--container label {
  font-family: nassim-normal;
}
.top__right--container .dropdown-menu .dropdown__login--container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.top__right--container .dropdown-menu .dropdown__login--container .dropdown__login--button1,
.top__right--container .dropdown-menu .dropdown__login--container .dropdown__login--button2 {
  width: 80px;
  padding: 6px 12px;
  background-color: var(--primary);
  color: #fff;
  font-family: nassim-normal;
  font-size: 14px;
}
.top__right--container .dropdown-menu .dropdown__login--container .dropdown__login--button1 {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.top__right--container .dropdown-menu .dropdown__login--container .dropdown__login--button2 {
  background-color: var(--bg-color);
  color: #000;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.top__right--date {
  display: none;
}
@media (min-width: 768px) {
  .top__right--date {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
    gap: 4px;
  }
  .top__right--date span {
    font-family: yekan;
    font-size: 12px;
  }
}
.top__right--login {
  width: 110px;
  font-size: 13px;
  background-color: var(--secondary);
  color: var(--bg-color);
  border-radius: 2px;
  cursor: pointer;
  padding: 3px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.top__left--container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: end;
  gap: 8px;
  overflow: hidden;
  padding-left: 8px;
}
.top__left--menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 12px;
  font-size: 11px;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.top__left--menu::-webkit-scrollbar {
  display: none;
}
.top__left--menu li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px 4px;
  cursor: pointer;
  min-width: fit-content;
}
.top__left--menu li:first-child {
  border-right: 1px solid var(--stroke);
}
@media (min-width: 992px) {
  .top__left--menu li {
    transition: none 0 ease;
    color: #000;
  }
  .top__left--menu li:hover {
    background-color: var(--stroke);
  }
}
@media (min-width: 768px) {
  .top__left--menu {
    display: none;
  }
}
@media (min-width: 992px) {
  .top__left--menu {
    overflow-x: visible;
    display: flex;
    font-size: 13px;
  }
}
.top__left--search {
  display: none;
}
@media (min-width: 768px) {
  .top__left--search {
    display: block;
    background-color: var(--stroke);
    padding: 3px 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-family: tahoma;
  }
}

.navbar {
  width: 100%;
  max-width: 1246px;
  align-items: center !important;
  padding: 0;
}
.navbar-bars {
  margin: 4px 8px;
  margin-left: 8px;
  background-color: var(--primary);
  color: var(--bg-color);
  padding: 8px 12px 4px;
  border: 1px solid var(--menu-color);
  border-radius: 2px;
}
.navbar-bars:hover {
  background-color: var(--menu-color);
}
@media (min-width: 992px) {
  .navbar-bars {
    display: none;
  }
}
.navbar-collapse {
  margin: 0;
  width: 100%;
  background-color: var(--menu-color);
}
@media (min-width: 992px) {
  .navbar-collapse {
    width: 100%;
    margin-right: 8px;
    background-color: transparent;
    background-image: url("../../../public/images/header-overlay.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
@media (min-width: 992px) {
  .navbar-nav {
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
    gap: 4px;
  }
}

.nav-item {
  padding: 0;
  margin: 0;
}
@media (min-width: 992px) {
  .nav-item {
    position: static;
  }
}
.nav-item:hover .nav-link {
  background-color: var(--menu-item-hover);
  border-radius: 2px;
}
@media (min-width: 992px) {
  .nav-item:hover .nav-link {
    background-color: var(--menu-color-hover);
    box-shadow: 0 0 2px 2px var(--menu-color-hover) inset;
    backdrop-filter: blur(5px);
  }
}
@media (min-width: 992px) {
  .nav-item:hover .dropdown-menu {
    display: block;
  }
}
.nav-item .dropdown-menu {
  width: 100vw;
  position: absolute;
  top: 98%;
  right: calc(50% - 50vw);
  background-color: #111111;
  border: none;
  border-radius: 0;
  border-bottom: 5px solid var(--primary);
  padding: 0;
  margin: 0;
}
.nav-item .dropdown__menu--container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  color: var(--bg-color);
}
@media (min-width: 992px) {
  .nav-item .dropdown__menu--container {
    max-width: 1246px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    justify-content: center;
    gap: 12px;
    margin: 0 auto;
    padding: 0 8px;
    margin-bottom: 8px;
  }
}
.nav-item .dropdown__menu--wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  border: 8px solid var(--menu-wrapper);
}
@media (min-width: 992px) {
  .nav-item .dropdown__menu--wrapper {
    border: none;
    background-color: var(--menu-color);
    margin-top: 12px;
  }
}
.nav-item .dropdown__menu--title {
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 4px;
  background-color: var(--menu-wrapper);
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}
.nav-item .dropdown__menu--title:hover {
  background-color: var(--primary);
}
.nav-item .dropdown__menu--items, .nav-item .dropdown__menu--items3, .nav-item .dropdown__menu--middle-items {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: start;
  gap: 5px;
  background-color: var(--menu-color);
  padding: 8px;
}
.nav-item .dropdown__menu--items span, .nav-item .dropdown__menu--items3 span, .nav-item .dropdown__menu--middle-items span {
  width: 49%;
  text-align: start;
  font-size: 15px;
  font-family: nassim-normal;
  padding: 0px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.nav-item .dropdown__menu--items span:hover, .nav-item .dropdown__menu--items3 span:hover, .nav-item .dropdown__menu--middle-items span:hover {
  padding-right: 6px;
  background-color: var(--primary);
}
.nav-item .dropdown__menu--middle-items span {
  width: 32%;
  text-align: start;
  font-size: 15px;
  font-family: nassim-normal;
  padding: 0px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.nav-item .dropdown__menu--middle-items span:hover {
  padding-right: 6px;
  background-color: var(--primary);
}
.nav-item .dropdown__menu--items2, .nav-item .dropdown__menu--items4 {
  width: 100%;
  background-color: var(--menu-color);
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 8px;
}
.nav-item .dropdown__menu--items2 li, .nav-item .dropdown__menu--items4 li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 8px;
  width: 100%;
  padding: 4px;
  margin: 4px;
  border-left: 1px solid var(--menu-wrapper);
  transition: all 0.2s ease;
  cursor: pointer;
}
.nav-item .dropdown__menu--items2 li:last-child, .nav-item .dropdown__menu--items4 li:last-child {
  border: none;
}
.nav-item .dropdown__menu--items2 li:hover, .nav-item .dropdown__menu--items4 li:hover {
  background-color: var(--primary);
}
.nav-item .dropdown__menu--items2 li:hover i, .nav-item .dropdown__menu--items4 li:hover i {
  color: var(--bg-color) !important;
}
.nav-item .dropdown__menu--items2 li i, .nav-item .dropdown__menu--items4 li i {
  color: var(--primary);
  transition: all 0.2s ease;
}
@media (min-width: 992px) {
  .nav-item .dropdown__menu--items2, .nav-item .dropdown__menu--items4 {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    background-color: #111111;
  }
}
.nav-item .dropdown__menu--items3 {
  justify-content: space-between;
  gap: 0;
}
.nav-item .dropdown__menu--items3 li {
  width: 49.8%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  margin: 4px 0;
  cursor: pointer;
}
@media (min-width: 992px) {
  .nav-item .dropdown__menu--items3 {
    justify-content: center;
    gap: 16px;
    background-color: #111111;
  }
  .nav-item .dropdown__menu--items3 li {
    width: auto;
    border: 5px solid #fff;
    transition: all 0.1s ease;
  }
  .nav-item .dropdown__menu--items3 li:hover {
    border-color: var(--primary);
  }
}
@media (min-width: 992px) {
  .nav-item .dropdown__menu--items4 {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    background-color: #111111;
  }
}
.nav-item .nav-link {
  color: var(--bg-color);
  font-size: 1.2rem;
  padding: 12px 8px;
}
@media (min-width: 992px) {
  .nav-item .nav-link {
    padding: 25px 0;
    transition: all 0.2s ease;
  }
}
.nav-item .nav-link::after {
  vertical-align: middle;
}
.nav-item .nav-link:focus, .nav-item .nav-link:hover, .nav-item .nav-link:visited {
  color: var(--bg-color) !important;
}

.header__bottom--container {
  width: 100%;
  max-width: 1275px;
  padding: 0 4px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.header__bottom--right-icon, .header__bottom--left-icon {
  cursor: pointer;
  border-radius: 2px;
  padding: 8px 4px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.header__bottom--right-icon:hover, .header__bottom--left-icon:hover {
  background-color: var(--bg-color);
}
.bottom__slider--container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.bottom__slider--container::-webkit-scrollbar {
  display: none;
}
.bottom__slider--item {
  min-width: 5px;
  white-space: nowrap;
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
}
.bottom__slider--item .bottom__item--btn {
  width: 100%;
  font-size: 16px;
  font-family: nassim-normal;
  font-weight: 400;
  background-color: inherit;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 2px;
}
.bottom__slider--item .bottom__item--container {
  display: none;
}
.bottom__slider--item .bottom-bars {
  padding: 16px 4px;
}
.bottom__slider--item .bottom-bars:hover {
  background-color: var(--header-bottom-color);
}
.bottom__slider--item:hover .bottom__item--container {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 32px;
  left: 0;
  background-color: var(--header-bottom-color);
  border-bottom: 1px solid var(--secondary);
  z-index: 10;
}
.bottom__slider--item:hover .bottom__item--container > div {
  width: 100%;
  max-width: 1246px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8px;
}
@media (min-width: 992px) {
  .bottom__slider--item:hover .bottom__item--container > div {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) {
  .bottom__slider--item:hover .bottom__item--container > div {
    grid-template-columns: repeat(6, 1fr);
  }
}
.bottom__slider--item:nth-child(2):hover .bottom__item--btn {
  color: #000;
}
.bottom__slider--item:nth-child(4):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(6):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(8):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(10):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(12):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(14):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(16):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(18):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(20):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(22):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(24):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(26):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(28):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(30):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(32):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(34):hover .bottom__item--btn {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(6) .bottom__item--name:hover span {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(8) .bottom__item--name:hover span {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(10) .bottom__item--name:hover span {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(12) .bottom__item--name:hover span {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(14) .bottom__item--name:hover span {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(18) .bottom__item--name:hover span {
  color: var(--bg-color);
}
.bottom__slider--item:nth-child(2):hover {
  background-color: var(--header-bottom-color);
}
.bottom__slider--item:nth-child(4):hover {
  background-color: var(--hover-chart-1);
}
.bottom__slider--item:nth-child(6):hover {
  background-color: var(--header-bottom-color);
}
.bottom__slider--item:nth-child(8):hover {
  background-color: var(--hover-chart-2);
}
.bottom__slider--item:nth-child(10):hover {
  background-color: var(--hover-chart-1);
}
.bottom__slider--item:nth-child(12):hover {
  background-color: var(--hover-chart-3);
}
.bottom__slider--item:nth-child(14):hover {
  background-color: var(--hover-chart-4);
}
.bottom__slider--item:nth-child(16):hover {
  background-color: var(--hover-chart-5);
}
.bottom__slider--item:nth-child(18):hover {
  background-color: var(--hover-chart-6);
}
.bottom__slider--item:nth-child(20):hover {
  background-color: var(--hover-chart-7);
}
.bottom__slider--item:nth-child(22):hover {
  background-color: var(--hover-chart-8);
}
.bottom__slider--item:nth-child(24):hover {
  background-color: var(--hover-chart-9);
}
.bottom__slider--item:nth-child(26):hover {
  background-color: var(--hover-chart-1);
}
.bottom__slider--item:nth-child(28):hover {
  background-color: var(--hover-chart-10);
}
.bottom__slider--item:nth-child(30):hover {
  background-color: var(--hover-chart-11);
}
.bottom__slider--item:nth-child(32):hover {
  background-color: var(--hover-chart-10);
}
.bottom__slider--item:nth-child(34):hover {
  background-color: var(--primary);
}
.bottom__slider--item:nth-child(2) .bottom__item--name:hover {
  background-color: rgb(196.98, 196.98, 196.98);
}
.bottom__slider--item:nth-child(6) .bottom__item--name:hover {
  background-color: rgb(196.98, 196.98, 196.98);
}
.bottom__slider--item:nth-child(10) .bottom__item--name:hover {
  background-color: var(--hover-chart-1);
}
.bottom__slider--item:nth-child(12) .bottom__item--name:hover {
  background-color: var(--hover-chart-3);
}
.bottom__slider--item:nth-child(14) .bottom__item--name:hover {
  background-color: var(--hover-chart-4);
}
.bottom__slider--item:nth-child(18) .bottom__item--name:hover {
  background-color: var(--hover-chart-6);
}

.bottom__item--name {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  gap: 8px;
  border-radius: 2px;
  margin-right: 5px;
}
.bottom__item--name div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.bottom__item--name span {
  color: var(--menu-wrapper);
  font-family: nassim-normal;
  font-weight: 400;
  font-size: 16px;
}

.bottom__item--icon {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-color: var(--bg-color);
  border-radius: 4px;
}

.logo-image,
.ramadan-image {
  max-width: 135px;
}
@media (min-width: 1200px) {
  .logo-image,
  .ramadan-image {
    max-width: fit-content;
  }
}

.ramadan-image {
  margin-left: 8px;
}
@media (min-width: 1200px) {
  .ramadan-image {
    padding: 0;
  }
}

/*# sourceMappingURL=header.css.map */
