.highlights {
  width: 100%;
  max-width: 1246px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 16px;
  margin-top: 16px;
  padding: 0 8px;
}
.highlights__header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}
@media (min-width: 768px) {
  .highlights__header {
    flex-wrap: nowrap;
    justify-content: start;
    gap: 8px;
  }
}
.highlights__header-title {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 8px;
  color: var(--custom-color);
  padding: 4px 0;
  transition: all 0.4s ease;
}
@media (min-width: 768px) {
  .highlights__header-title {
    width: auto;
    order: 1;
  }
}
.highlights__header-title span {
  font-size: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 8px;
  cursor: pointer;
  white-space: nowrap;
}
.highlights__header-title i {
  font-size: 15px;
}
.highlights__header-config {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 8px;
  position: relative;
}
@media (min-width: 768px) {
  .highlights__header-config {
    width: auto;
    order: 3;
    flex-grow: 1;
  }
}
.highlights__header-config-content {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: end;
  gap: 8px;
}
.highlights__header-config-content span {
  background-color: var(--stroke);
  color: var(--secondary);
  padding: 8px 16px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.highlights__header-config-content span:first-child:hover {
  background-color: orange;
  color: var(--bg-color);
}
.highlights__header-config-content span:last-child:hover {
  background-color: var(--menu-color);
  color: var(--bg-color);
}
.highlights__header-config-option {
  display: none;
  width: 200px;
  background-color: #fff;
  border: 1px solid var(--stroke);
  position: absolute;
  top: 35px;
  left: 0;
  padding: 8px 8px 8px 0;
  z-index: 99;
}
.highlights__header-config-option ul {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 4px;
}
.highlights__header-config-option ul li {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 8px;
  padding: 4px;
  cursor: pointer;
}
.highlights__header-config-option ul li:hover {
  background-color: var(--stroke);
}
.highlights__header-config-option ul li i {
  width: 20px;
  height: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--menu-color);
  border-radius: 100%;
}
.highlights__header-headline {
  width: 100%;
}
@media (min-width: 768px) {
  .highlights__header-headline {
    width: 400px;
    order: 2;
    transition: all 0.4s ease;
  }
}
@media (min-width: 992px) {
  .highlights__header-headline {
    width: auto;
    order: 2;
  }
}
.highlights__header-headline ul {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 8px;
  background-color: var(--stroke);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 16px;
}
@media (min-width: 768px) {
  .highlights__header-headline ul {
    overflow: hidden;
    background-color: var(--bg-color);
  }
}
.highlights__header-headline ul li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 0px;
  cursor: pointer;
  flex-shrink: 0;
}
.highlights__header-headline ul li:hover {
  color: var(--custom-color);
}
.highlights__item {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 16px;
}
.highlights__item-container {
  width: 100%;
  border-top: 3px solid var(--custom-color);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 0px;
}
.highlights__item-container:hover .highlights__item-header-title {
  transform: translateX(-6px);
}
@media (min-width: 992px) {
  .highlights__item-container:hover .highlights__item-header-headline {
    transform: translateX(-6px);
  }
}
.highlights__item-content-container, .highlights__provinces-content-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 0px;
  margin: 8px 0;
}
@media (min-width: 768px) {
  .highlights__item-content-container, .highlights__provinces-content-container {
    height: 240px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: start;
    justify-content: space-between;
    gap: 16px;
  }
}
@media (min-width: 992px) {
  .highlights__item-content-container, .highlights__provinces-content-container {
    height: 306px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.highlights__item-image {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 0px;
  margin-top: 8px;
  padding: 4px;
  border-left: 1px solid var(--stroke);
  border-bottom: 1px solid var(--stroke);
  cursor: pointer;
}
.highlights__item-image:hover .highlights__item-image-title {
  color: var(--custom-color);
}
.highlights__item-image:hover .highlights__item-image-description {
  color: var(--custom-color);
}
@media (min-width: 768px) {
  .highlights__item-image {
    height: 100%;
    margin-top: 0;
  }
}
.highlights__item-image-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.highlights__item-image-container img {
  width: 100%;
  height: 100%;
  transition: all 0.9s ease-in-out;
  transform-origin: center;
  transform: scale(1.01);
}
.highlights__item-image-container img:hover {
  transform: scale(1.03);
}
.highlights__item-image-container .highlights__image-tooltip {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--tooltip);
  padding: 8px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: var(--bg-color);
  opacity: 0.9;
}
.highlights__item-image-title {
  width: 100%;
  text-align: right;
  font-size: 1rem;
  font-family: nassim-normal;
  color: var(--secondary);
  padding: 8px 8px 0;
  margin: 0;
}
.highlights__item-image-description {
  width: 100%;
  text-align: right;
  padding: 0px 8px;
  margin: 0;
  margin-top: 8px;
}
@media (min-width: 768px) {
  .highlights__item-image-description {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .highlights__item-image-description {
    font-size: 23px;
  }
}
.highlights__item-card-container {
  display: none;
}
@media (min-width: 992px) {
  .highlights__item-card-container {
    width: 100%;
    display: block;
    height: calc(100% - 1px);
    padding: 0 8px;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid var(--stroke);
    border-left: 1px solid var(--stroke);
  }
}
.highlights__item-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}
.highlights__item-card .cards:hover .cards__content-text > span {
  color: var(--custom-color);
}
.highlights__item-card .cards:last-child .cards__content-container {
  border-bottom: none;
}
.highlights__item-card .cards .cards__content-container {
  border-left: none;
}
.highlights__item-category-news-container {
  width: 100%;
  height: calc(100% - 1px);
  overflow: hidden;
  border-bottom: 1px solid var(--stroke);
  border-left: 1px solid var(--stroke);
}
.highlights__item-category-news {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .highlights__item-category-news {
    height: 100%;
    overflow: hidden;
  }
}
.highlights__item-category-news .category-news {
  justify-content: center;
}
.highlights__item-category-news .category-news .category-news__content-container {
  padding-top: 8px;
}
.highlights__item-category-news .category-news .category-news__content-container li:hover {
  color: var(--custom-color);
  border-bottom: 1px solid var(--custom-color);
}
.highlights__item-category-news .category-news .category-news__content-container li:hover:last-child {
  border-bottom: none;
}
.highlights__item-category-news .category-news .category-news__content-container li i {
  color: var(--custom-color);
}
.highlights__item-ads {
  width: 100%;
}
.highlights__item-ads img {
  width: 100%;
}
@media (min-width: 768px) {
  .highlights__item-ads {
    height: 100%;
  }
}
.highlights__provinces {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 0px;
  border-top: 3px solid rgb(72.6, 72.6, 72.6);
}
.highlights__provinces .highlights__header-title {
  color: rgb(72.6, 72.6, 72.6);
}
@media (min-width: 992px) {
  .highlights__provinces-content-container {
    grid-template-columns: 1fr 2fr 1fr;
  }
}
.highlights__provinces-card-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
  gap: 16px;
  background-color: rgb(49.8, 49.8, 49.8);
  padding: 12px;
  position: relative;
}
@media (min-width: 768px) {
  .highlights__provinces-card-container {
    gap: 0px;
  }
}
@media (min-width: 992px) {
  .highlights__provinces-card-container {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }
}
.highlights__provinces-card {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  justify-content: start;
  gap: 8px;
  cursor: pointer;
  color: var(--bg-color);
}
.highlights__provinces-card:hover {
  color: orange;
}
.highlights__provinces-card span {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: clamp(14px, 10vw, 16px);
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.highlights__provinces-card-image {
  width: 100px;
  height: 75px;
  overflow: hidden;
}
.highlights__provinces-card-image img {
  width: 100%;
  transition: all 0.9s ease-in-out;
  transform-origin: center;
  transform: scale(1.01);
}
.highlights__provinces-card-image img:hover {
  transform: scale(1.03);
}
.highlights__provinces-card-more {
  width: auto;
  padding: 4px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: var(--primary);
  font-size: 18px;
  cursor: pointer;
}
.highlights__provinces-card-more:hover {
  color: var(--bg-color);
}
.highlights__provinces-map {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--stroke);
  position: relative;
}
.highlights__provinces-map #IranMap {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .highlights__provinces-map #IranMap {
    align-items: start;
    margin-top: 28px;
  }
  .highlights__provinces-map #IranMap .map svg {
    width: 210px;
    height: 210px;
  }
}
@media (min-width: 992px) {
  .highlights__provinces-map #IranMap {
    align-items: start;
    margin-top: 8px;
  }
  .highlights__provinces-map #IranMap .map svg {
    width: 300px;
    height: 300px;
  }
}
.highlights__provinces-map-free-zone {
  width: 130px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px;
  appearance: none;
  background-image: url("../../../public/images/down-chevron.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 10px center;
  font-family: tahoma;
  font-size: 12px;
  border: 1px solid rgb(147.2, 147.2, 147.2);
}
.highlights__provinces-map-free-zone:hover {
  box-shadow: 1px 1px 3px 1px rgb(193.4, 193.4, 193.4);
}
.highlights__provinces-ads {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.highlights__provinces-ads img {
  width: 100%;
}

/*# sourceMappingURL=highlights-section.css.map */
