.main-slider__pagination-item[data-id="1"] {
  --pagination-color: #b22222;
}

.main-slider__pagination-item[data-id="2"] {
  --pagination-color: #3300cc;
}

.main-slider__pagination-item[data-id="3"] {
  --pagination-color: #0040ad;
}

.main-slider__pagination-item[data-id="4"] {
  --pagination-color: #7b68ee;
}

.main-slider__pagination-item[data-id="5"] {
  --pagination-color: #ba55d3;
}

.main-slider__pagination-item[data-id="6"] {
  --pagination-color: #ff8c00;
}

.main-slider__pagination-item[data-id="7"] {
  --pagination-color: #f08080;
}

.main-slider__pagination-item[data-id="8"] {
  --pagination-color: #006600;
}

.main-slider {
  width: 100%;
  padding: 4px 8px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-slider {
    max-width: 87%;
  }
}
@media (min-width: 1200px) {
  .main-slider {
    max-width: 1246px;
  }
}
.main-slider .splide__arrow {
  width: 5rem;
  height: 5rem;
  opacity: 0.6;
}
.main-slider .splide__arrow--prev {
  right: -60px;
}
.main-slider .splide__arrow--next {
  left: -60px;
}
.main-slider .splide__arrow svg {
  fill: var(--primary);
}
.main-slider__slide {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
  gap: 16px;
}
@media (min-width: 768px) {
  .main-slider__slide {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
.main-slider__right {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
}
@media (min-width: 768px) {
  .main-slider__right {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .main-slider__right {
    width: 50%;
  }
}
.main-slider__vertical-slider-container {
  width: 100%;
  height: 25px;
  padding: 0 4px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 4px;
}
.main-slider__vertical-slider-text {
  display: none;
}
@media (min-width: 768px) {
  .main-slider__vertical-slider-text {
    display: block;
    min-width: 75px;
    text-align: right;
    color: var(--custom-color);
  }
}
.main-slider__vertical-slider-wrapper {
  width: 100%;
  height: 100%;
}
.main-slider__vertical-slider-content {
  max-width: 400px;
  min-width: 200px;
  height: 100%;
  color: rgb(49.5, 92.7, 135.9);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17px;
  font-family: nassim-normal;
}
.main-slider__vertical-slider-content:hover {
  color: var(--primary);
}
.main-slider__image {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  padding: 3px;
  border: 1px solid var(--stroke);
}
.main-slider__image > div {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.main-slider__image img {
  width: 100%;
  cursor: pointer;
  transition: all 0.9s ease-in-out;
  transform-origin: center;
  transform: scale(1.01);
}
.main-slider__image img:hover {
  transform: scale(1.03);
}
.main-slider__image .image-tooltip {
  background-color: var(--custom-color);
}
.main-slider__cards {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  justify-content: start;
  gap: 12px;
}
@media (min-width: 768px) {
  .main-slider__cards {
    flex-flow: row nowrap;
  }
  .main-slider__cards .cards {
    width: 49%;
  }
}
.main-slider__left {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
  gap: 8px;
}
@media (min-width: 768px) {
  .main-slider__left {
    width: 30%;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 16px;
  }
}
@media (min-width: 992px) {
  .main-slider__left {
    width: 50%;
  }
}
.main-slider__category-news {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .main-slider__category-news {
    display: none;
  }
}
@media (min-width: 992px) {
  .main-slider__category-news {
    width: 222px;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .main-slider__category-news {
    width: 295px;
  }
}
.main-slider__category-news .category-news__title-container {
  width: auto;
  cursor: pointer;
}
.main-slider__category-news .category-news__title-container:hover span:nth-child(2),
.main-slider__category-news .category-news__title-container:hover i:nth-child(1) {
  color: var(--primary);
}
.main-slider__category-news:hover .category-news__title-container {
  transform: translateX(-6px);
}
.main-slider__ads-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 0px;
  padding: 0 4px;
}
@media (min-width: 768px) {
  .main-slider__ads-container {
    gap: 4px;
  }
}
@media (min-width: 992px) {
  .main-slider__ads-container {
    width: 222px;
  }
}
@media (min-width: 1200px) {
  .main-slider__ads-container {
    width: 295px;
  }
}
.main-slider__ads {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 0px;
}
.main-slider__ads-number {
  display: none;
}
@media (min-width: 768px) {
  .main-slider__ads-number {
    width: 100%;
    height: 27px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    overflow: hidden;
  }
  .main-slider__ads-number span {
    white-space: nowrap;
    width: auto;
    color: var(--secondary);
    cursor: pointer;
  }
  .main-slider__ads-number span:first-child {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
    gap: 8px;
    font-size: 15px;
  }
  .main-slider__ads-number span:last-child {
    font-size: 20px;
  }
  .main-slider__ads-number span:hover {
    color: var(--primary);
  }
  .main-slider__ads-number span:first-child:hover ~ span:last-child {
    color: var(--primary);
  }
}
.main-slider__ads-image {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.main-slider__ads-image img {
  width: 295px;
  height: 295px;
}
.main-slider__topics {
  display: none;
}
@media (min-width: 768px) {
  .main-slider__topics {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: start;
  }
}
.main-slider__topics:hover > .main-slider__topics-title {
  transform: translateX(-6px);
}
.main-slider__topics-title {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 8px;
  color: var(--primary);
  transition: all 0.4s ease;
}
.main-slider__topics-content {
  width: 100%;
  height: 175px;
  overflow: hidden;
  text-align: justify;
  background-color: #fff;
  border-left: 1px solid var(--stroke);
  border-bottom: 1px solid var(--stroke);
  border-top: 3px solid var(--header-bottom-color);
  padding: 8px;
}
.main-slider__topics-content li {
  display: inline-block;
  list-style-type: none;
  font-family: nassim-normal;
  font-size: 15px;
  cursor: pointer;
  color: var(--hover-chart-5);
}
.main-slider__topics-content li:hover {
  color: var(--primary);
}
.main-slider__topics-content li:nth-child(even) {
  color: var(--secondary);
}
.main-slider__pagination {
  width: 100%;
  margin-top: 16px;
  padding: 4px 8px;
}
.main-slider__pagination-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.main-slider__pagination-item {
  width: 12.5%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 4px;
  cursor: pointer;
}
.main-slider__pagination-item-btn {
  width: 100%;
  height: 6px;
  background-color: var(--stroke);
}
.main-slider__pagination-item-name {
  font-family: nassim-normal;
  font-size: 19px;
  color: var(--secondary);
}
.main-slider__pagination-item--active .main-slider__pagination-item-btn {
  background-color: var(--pagination-color);
}
.main-slider__pagination-item--active .main-slider__pagination-item-name {
  color: var(--pagination-color);
}
.main-slider__pagination-item:hover .main-slider__pagination-item-btn {
  background-color: var(--pagination-color);
}
.main-slider__pagination-item:hover .main-slider__pagination-item-name {
  color: var(--pagination-color);
}
.main-slider__pagination-ads {
  width: 100%;
  padding: 0 4px;
}
.main-slider__pagination-ads img {
  width: 100%;
}

/*# sourceMappingURL=main-slider.css.map */
