.partial {
  width: 100%;
  max-width: 1246px;
  padding: 8px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.partial__market--wrapper-responsive {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 0px;
}
.partial__market--wrapper-responsive:hover .partial__market--title > span:first-child {
  transform: translateX(-6px);
}
.partial__market--title {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 4px 0;
}
.partial__market--title > span:first-child {
  font-family: nassim-normal;
  font-size: 15px;
  color: var(--secondary);
  transition: all 0.4s ease;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
.partial__market--title > span:last-child {
  background-color: var(--stroke);
  font-family: yekan;
  font-size: 11px;
  border-radius: 0 0 2px 2px;
  padding: 1px 8px;
  cursor: pointer;
}
.partial__market--title > span:last-child:hover {
  background-color: var(--secondary);
  color: var(--bg-color);
}
.partial__market--table-btn {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.partial__market--table-btn .nav-link {
  border: none;
  border-radius: 0px;
  border-top: 3px solid var(--primary);
  width: 100%;
  font-family: nassim-normal;
  color: var(--secondary);
  font-size: 16px;
  border-radius: 0px;
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.36), inset 0 0 8px 1px rgba(165, 164, 164, 0.5);
  transition: none;
}
.partial__market--table-btn .nav-link.active {
  color: var(--primary);
  border-top: 3px solid #ee0000;
  box-shadow: none;
}
.partial__market--table-btn .nav-link.active:hover {
  box-shadow: none;
}
.partial__market--table-btn .nav-link:hover {
  box-shadow: 0 0 13px #c0c0c0 inset;
  border-top: 3px solid var(--primary);
  background-color: #eee;
}
.partial__market--table-rows {
  width: 100%;
  height: 224px;
  border-bottom: 1px solid var(--stroke);
  border-left: 1px solid var(--stroke);
}
.partial__market--table-rows div {
  width: 100%;
}
.partial__market--table-rows #nav-currency,
.partial__market--table-rows #nav-equal {
  height: 224px;
  overflow-y: scroll;
}
.partial__market--rows-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
}
.partial__market--rows-item {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  background-color: #fff;
  border-bottom: 1px solid var(--stroke);
}
.partial__market--rows-item > span {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 4px;
  font-family: yekan;
  font-size: 12px;
  padding: 8px 8px 8px 0;
}
.partial__market--rows-item > span > img {
  width: 16px;
  height: 11px;
}
.partial__market--rows-item > span:first-child {
  font-family: nassim-normal;
  font-size: 13px;
}
.partial__market--rows-item:first-child {
  background-color: rgb(234.35, 234.35, 234.35);
}
.partial__market--rows-item:first-child span {
  font-size: 16px;
  font-family: nassim-normal;
}
.partial__converter--wrapper {
  width: 100%;
}
.partial__converter--wrapper:hover .partial__market--title > span:first-child {
  transform: translateX(-6px);
}

/*# sourceMappingURL=partial-market.css.map */
