.partial {
  width: 100%;
  max-width: 1246px;
  padding: 8px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 16px;
}
.partial .container {
  width: 100%;
  padding: 0;
  max-width: 1246px;
}
@media (min-width: 768px) {
  .partial .container {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: center;
    gap: 0px;
    row-gap: 16px;
  }
}
.partial__title {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 4px 0;
}
.partial__title > span:first-child {
  font-family: nassim-normal;
  font-size: 15px;
  color: var(--secondary);
  transition: all 0.4s ease;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
.partial__title > span:last-child {
  background-color: var(--stroke);
  font-family: yekan;
  font-size: 11px;
  border-radius: 0 0 2px 2px;
  padding: 1px 8px;
  cursor: pointer;
}
.partial__title > span:last-child:hover {
  background-color: var(--secondary);
  color: var(--bg-color);
}
.partial__market-wrapper--responsive {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 0px;
}
.partial__market-wrapper--responsive:hover .partial__title > span:first-child {
  transform: translateX(-6px);
}
@media (min-width: 768px) {
  .partial__market-wrapper--responsive {
    display: none;
  }
}
.partial__market-tabs {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.partial__market-tabs .nav-link {
  border: none;
  border-radius: 0px;
  border-top: 3px solid var(--primary);
  width: 100%;
  font-family: nassim-normal;
  color: var(--secondary);
  font-size: clamp(14px, 30vw, 16px);
  border-radius: 0px;
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.36), inset 0 0 8px 1px rgba(165, 164, 164, 0.5);
  transition: none;
  white-space: nowrap;
}
.partial__market-tabs .nav-link.active {
  color: var(--primary);
  border-top: 3px solid rgb(219.3, 0, 0);
  box-shadow: none;
}
.partial__market-tabs .nav-link.active:hover {
  box-shadow: none;
}
.partial__market-tabs .nav-link:hover {
  box-shadow: 0 0 13px #c0c0c0 inset;
  border-top: 3px solid var(--primary);
  background-color: #eee;
}
.partial__market-tab-content {
  width: 100%;
  height: 224px;
  border-bottom: 1px solid var(--stroke);
  border-left: 1px solid var(--stroke);
}
@media (min-width: 768px) {
  .partial__market-tab-content {
    height: 245px;
  }
}
.partial__market-tab-content div {
  width: 100%;
  height: 100%;
}
.partial__market-tab-content #nav-currency,
.partial__market-tab-content #nav-equal,
.partial__market-tab-content #nav-nimaei,
.partial__market-tab-content #nav-sana {
  height: 224px;
  overflow-y: scroll;
}
@media (min-width: 768px) {
  .partial__market-tab-content #nav-currency,
  .partial__market-tab-content #nav-equal,
  .partial__market-tab-content #nav-nimaei,
  .partial__market-tab-content #nav-sana {
    height: 245px;
  }
}
.partial__market-list {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
}
.partial__market-list-item {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  background-color: #fff;
  border-bottom: 1px solid var(--stroke);
}
.partial__market-list-item > span {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 4px;
  font-family: yekan;
  font-size: 12px;
  padding: 8px 8px 8px 0;
}
.partial__market-list-item > span > img {
  width: 16px;
  height: 11px;
}
.partial__market-list-item > span:first-child {
  font-family: nassim-normal;
  font-size: 13px;
}
.partial__market-list-item:first-child {
  background-color: rgb(229.9, 229.9, 229.9);
}
.partial__market-list-item:first-child span {
  font-size: 16px;
  font-family: nassim-normal;
}
.partial__market-list-item span .fa-chart-column {
  padding: 3px 4px 3px 5px;
  border: 1px solid var(--stroke);
  font-size: 1rem;
  color: var(--primary);
}
.partial__market-list-item span .fa-chart-column:hover {
  background-color: var(--primary);
  color: var(--bg-color);
}
.partial__market-list-item:hover {
  background-color: #fff0e5;
}
.partial__market-wrapper {
  display: none;
}
@media (min-width: 768px) {
  .partial__market-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0 8px;
  }
}
.partial__market-gold, .partial__market-currency {
  display: none;
}
@media (min-width: 768px) {
  .partial__market-gold, .partial__market-currency {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    gap: 0px;
  }
  .partial__market-gold:hover .partial__title > span:first-child, .partial__market-currency:hover .partial__title > span:first-child {
    transform: translateX(-6px);
  }
}
.partial__converter-wrapper {
  width: 100%;
  padding: 0 8px;
}
.partial__converter-wrapper:hover .partial__title > span:first-child {
  transform: translateX(-6px);
}
.partial__converter-operation-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 0px;
}
.partial__converter-operation-input {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  font-family: yekan;
  padding: 10px 16px;
  background-color: #fff;
  border-bottom: 1px solid var(--stroke);
  border-left: 1px solid var(--stroke);
  border-top: 3px solid var(--primary);
}
.partial__converter-operation-select {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
@media (min-width: 768px) {
  .partial__converter-operation-select {
    flex-direction: column;
    gap: 0;
  }
}
.partial__converter-operation-select #converter-origin,
.partial__converter-operation-select #converter-destination {
  width: 100%;
  height: 60px;
  border-radius: 0;
  padding: 15px 8px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: var(--secondary);
  background-color: #f5f5f5;
  box-shadow: inset 0 0 6px #bbb;
  appearance: none;
  background-image: url("../../../public/images/down-chevron.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 1.1rem;
}
.partial__converter-result-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 0px;
}
.partial__converter-result-container > :first-child {
  width: 100%;
  background-color: rgb(49.8, 49.8, 49.8);
  padding: 14px 10px;
  text-align: center;
  color: var(--bg-color);
  font-size: 17px;
  font-weight: bold;
  font-family: yekan;
}
.partial__converter-result-container > :last-child {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--primary);
  color: var(--bg-color);
  text-align: center;
  padding: 15px 0;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}
.partial__cards-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: start;
  gap: 4px;
}
.partial__ads-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 8px;
  margin-top: 16px;
}
.partial__ads-container img {
  width: 100%;
}

/*# sourceMappingURL=partial-section.css.map */
