<section class="header__top">
  <div class="header__top-right">
    <div class="header__top-right-date">
      <i class="fa-solid fa-calendar-days fa-xs"></i>
      <span>شنبه ۱۸ اسفند ۱۴۰۳</span>
      <i class="fa-solid fa-clock fa-xs"></i>
      <span>۱۲:۰۰:۰۰</span>
    </div>

    <div class="header__top-right-login dropdown">
      <button
        class="dropdown-toggle header__top-right-login-button"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fa-solid fa-user fa-xs"></i>
        ورود / عضویت
      </button>
      <ul class="dropdown-menu header__top-right-login-menu">
        <li class="header__top-right-login-inputs dropdown-item">
          <input
            type="text"
            placeholder="نام کاربری یا آدرس ایمیل"
            class="header__top-right-login-input"
          />
          <input
            type="password"
            placeholder="رمز عبور"
            class="header__top-right-login-input"
          />
        </li>
        <li class="header__top-right-login-remember dropdown-item">
          <input type="checkbox" id="terms-of-services-checkbox" />
          <label for="terms-of-services-checkbox">مرا به خاطر بسپار</label>
        </li>
        <li class="header__top-right-login-actions dropdown-item">
          <button class="header__top-right-login-submit">ورود</button>
          <button class="header__top-right-register">عضویت</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="header__top-left">
    <ul class="header__top-left-menu">
      <li class="header__top-left-menu-item">
        <i class="fa-solid fa-coins fa-xs"></i> قیمت طلا و سکه
      </li>
      <li class="header__top-left-menu-item">
        <i class="fa-solid fa-droplet fa-xs"></i> نفت و سوخت
      </li>
      <li class="header__top-left-menu-item">
        <i class="fa-solid fa-database fa-xs"></i> فلزات پایه
      </li>
      <li class="header__top-left-menu-item">
        <i class="fa-solid fa-circle-half-stroke fa-xs"></i> کالاهای جهانی
      </li>
      <li class="header__top-left-menu-item">
        <i class="fa-solid fa-chart-pie fa-xs"></i> بورس جهانی
      </li>
      <li class="header__top-left-menu-item">
        <i class="fa-solid fa-box-archive fa-xs"></i> آرشیو
      </li>
    </ul>

    <div class="header__top-left-search">
      <input
        type="text"
        class="header__top-left-search-input"
        placeholder="جستجو ..."
      />
      <i
        class="fa-solid fa-magnifying-glass fa-sm"
        style="color: var(--primary)"
      ></i>
    </div>
  </div>
</section>
