<section class="header__bottom">
  <div class="header__bottom-container">
    <!-- فلش جهت چپ و راست (در صورت نیاز) -->
    <span id="header-bottom-right-icon" class="header__bottom-right-icon">
      <i class="fa-solid fa-angle-right"></i>
    </span>

    <ul id="header-bottom-slider-container" class="header__bottom-slider">
      <!-- آیتم دسته‌بندی تخصصی -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn header__bottom-item-bars">
          <i class="fa fa-bars fa-sm" style="color: #b01927"></i>
        </button>
      </li>

      <!-- آیتم اوراسیا | EAEU با زیرمنو -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn">اوراسیا | EAEU</button>

        <div class="header__bottom-item-container">
          <div>
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <i class="fa fa-home fa-xs"></i>
                </span>

                <span>صفحه اصلی اوراسیا | EAEU</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <span>ایران و روسیه</span>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <span>ارمنستان و بلاروس</span>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <span>قزاقستان و قرقیزستان</span>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span
                  class="header__bottom-item-icon fa-xs"
                  style="color: orange"
                >
                  <i class="fa fa-rss"></i>
                </span>
                <span>عناوین کل اخبار</span>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="header__bottom-slider-item">
        <span class="divider"></span>
      </li>

      <!-- آیتم جهان -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn">جهان</button>
      </li>

      <li class="header__bottom-slider-item">
        <span class="divider"></span>
      </li>

      <!-- آیتم اکو | ECO با زیرمنو -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn">اکو | ECO</button>

        <div class="header__bottom-item-container">
          <div>
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <i class="fa fa-home fa-xs"></i>
                </span>

                <span>صفحه اصلی اکو | ECO</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/small-icon/iran-log-1-1699529252.png"
                    alt=""
                  />
                </span>
                <span>ایران | ECO IRAN</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/small-icon/turk-log-1699528084.png"
                    alt=""
                  />
                </span>
                <span>ترکیه | Turkiye</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/small-icon/azar-log-1699529273.png"
                    alt=""
                  />
                </span>
                <span>آذربایجان | Azerbaijan</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/small-icon/turkaman-log-1699529290.png"
                    alt=""
                  />
                </span>
                <span>ترکمنستان | Turkmenistan</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/small-icon/tajikestan-1699529979.png"
                    alt=""
                  />
                </span>
                <span>تاجیکستان | Tajikistan</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/small-icon/gazag-log-1699529436.png"
                    alt=""
                  />
                </span>
                <span>قزاقستان | Kazakhstan</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/small-icon/girgiz-log-1699529461.png"
                    alt=""
                  />
                </span>
                <span>قرقیزستان | Kyrgyzstan</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/small-icon/uzbakestan-1699529925.png"
                    alt=""
                  />
                </span>
                <span>ازبکستان | Uzbekistan</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/small-icon/afghan-log-1699529504.png"
                    alt=""
                  />
                </span>
                <span>افغانستان | Afghanistan</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/small-icon/pakistan-log-1699529529.png"
                    alt=""
                  />
                </span>
                <span>پاکستان | Pakistan</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <i class="fa fa-rss fa-xs" style="color: orange"></i>
                </span>
                <span>عناوین کل اخبار</span>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="header__bottom-slider-item">
        <span class="divider"></span>
      </li>

      <!-- آیتم کلان و بودجه -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn">کلان و بودجه</button>
      </li>

      <li class="header__bottom-slider-item">
        <span class="divider"></span>
      </li>

      <!-- آیتم بانک با زیرمنو -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn">بانک</button>

        <div class="header__bottom-item-container">
          <div>
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <i class="fa fa-home fa-xs"></i>
                </span>
                <span>صفحه اصلی بانک</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/bn-mrz.jpg" alt="" />
                </span>
                <span>بانک مرکزی</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/meli.jpg" alt="" />
                </span>
                <span>بانک ملّی ایران</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/melat.jpg" alt="" />
                </span>
                <span>بانک ملّت</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/tejarat.jpg" alt="" />
                </span>
                <span>بانک تجارت</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/saderat.jpg" alt="" />
                </span>
                <span>بانک صادرات ایران</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/iran-zamin.jpg" alt="" />
                </span>
                <span>بانک ایران زمین</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/pasargad.jpg" alt="" />
                </span>
                <span>بانک پاسارگاد</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/ayndeh.jpg" alt="" />
                </span>
                <span>بانک آینده</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/parsian.jpg" alt="" />
                </span>
                <span>بانک پارسیان</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/eghtesad.jpg" alt="" />
                </span>
                <span>بانک اقتصادنوین</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/dey.jpg" alt="" />
                </span>
                <span>بانک دی</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/khavar.jpg" alt="" />
                </span>
                <span>بانک خاورمیانه</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/saman.jpg" alt="" />
                </span>
                <span>بانک سامان</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/sina.jpg" alt="" />
                </span>
                <span>بانک سینا</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks//sarmaye.jpg" alt="" />
                </span>
                <span>بانک سرمایه</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/kar-afrin.jpg" alt="" />
                </span>
                <span>بانک کارآفرین</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/gardesh.jpg" alt="" />
                </span>
                <span>بانک گردشگری</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks//resalat.jpg" alt="" />
                </span>
                <span>بانک رسالت</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/toseE.jpg" alt="" />
                </span>
                <span>بانک توسعه تعاون</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/toseE-saderat.jpg" alt="" />
                </span>
                <span>بانک توسعه صادرات ایران</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks//mehr.png" alt="" />
                </span>
                <span>قرض الحسنه مهر ایران</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/sanat.jpg" alt="" />
                </span>
                <span>بانک صنعت و معدن</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/sepah.jpg" alt="" />
                </span>
                <span>بانک سپه</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/maskan.jpg" alt="" />
                </span>
                <span>بانک مسکن</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/keshavarzi.png" alt="" />
                </span>
                <span>بانک کشاورزی</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/refah.jpg" alt="" />
                </span>
                <span>رفاه کارگران</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/post-bank.jpg" alt="" />
                </span>
                <span>پست بانک</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/moshtarak.jpg" alt="" />
                </span>
                <span>بانک مشترک ایران و ونزوئلا</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/shahr.png" alt="" />
                </span>
                <span>بانک شهر</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/shahr.png" alt="" />
                </span>
                <span>صندوق توسعه ملّی</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/banks/melal.jpg" alt="" />
                </span>
                <span>مؤسسه ملل</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/banks/amoozesh-bankdari.png"
                    alt=""
                  />
                </span>
                <span>مؤسسه آموزش بانکداری</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <i class="fa fa-rss fa-xs" style="color: orange"></i>
                </span>
                <span>عناوین کل اخبار</span>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="header__bottom-slider-item">
        <span class="divider"></span>
      </li>

      <!-- آیتم بیمه با زیرمنو -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn">بیمه</button>

        <div class="header__bottom-item-container">
          <div>
            <!-- صفحه اصلی بیمه -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <i class="fa fa-home fa-xs"></i>
                </span>
                <span>صفحه اصلی بیمه</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه مرکزی -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/mrkzi.jpg"
                    alt="بیمه مرکزی"
                  />
                </span>
                <span>بیمه مرکزی</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه توسعه -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/toseE.jpg"
                    alt="بیمه توسعه"
                  />
                </span>
                <span>بیمه توسعه</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه تجارت نو -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/tejart-no.jpg"
                    alt="بیمه تجارت نو"
                  />
                </span>
                <span>بیمه تجارت نو</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- ازکی -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/insurance/azki.jpg" alt="ازکی" />
                </span>
                <span>ازکی</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه ایران -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/iran.jpg"
                    alt="بیمه ایران"
                  />
                </span>
                <span>بیمه ایران</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه آسیا -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/asia.jpg"
                    alt="بیمه آسیا"
                  />
                </span>
                <span>بیمه آسیا</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه البرز -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/alborz.jpg"
                    alt="بیمه البرز"
                  />
                </span>
                <span>بیمه البرز</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه دانا -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/dana.jpg"
                    alt="بیمه دانا"
                  />
                </span>
                <span>بیمه دانا</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه معلم -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/moalem.jpg"
                    alt="بیمه معلم"
                  />
                </span>
                <span>بیمه معلم</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه پارسیان -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/parsian.jpg"
                    alt="بیمه پارسیان"
                  />
                </span>
                <span>بیمه پارسیان</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه سینا -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/sina.jpg"
                    alt="بیمه سینا"
                  />
                </span>
                <span>بیمه سینا</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه رازی -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/razi.jpg"
                    alt="بیمه رازی"
                  />
                </span>
                <span>بیمه رازی</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه سامان -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/saman.jpg"
                    alt="بیمه سامان"
                  />
                </span>
                <span>بیمه سامان</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه دی -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/insurance/dey.jpg" alt="بیمه دی" />
                </span>
                <span>بیمه دی</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه ملت -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/melat.jpg"
                    alt="بیمه ملت"
                  />
                </span>
                <span>بیمه ملت</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه نوین -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/novin.jpg"
                    alt="بیمه نوین"
                  />
                </span>
                <span>بیمه نوین</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه پاسارگاد -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/pasargad.jpg"
                    alt="بیمه پاسارگاد"
                  />
                </span>
                <span>بیمه پاسارگاد</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه کوثر -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/kosar.jpg"
                    alt="بیمه کوثر"
                  />
                </span>
                <span>بیمه کوثر</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه ما -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img src="./public/images/insurance/ma.jpg" alt="بیمه ما" />
                </span>
                <span>بیمه ما</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه آرمان -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/arman.jpg"
                    alt="بیمه آرمان"
                  />
                </span>
                <span>بیمه آرمان</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه تعاون -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/taAwon.jpg"
                    alt="بیمه تعاون"
                  />
                </span>
                <span>بیمه تعاون</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه سرمد -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/sarmad.jpg"
                    alt="بیمه سرمد"
                  />
                </span>
                <span>بیمه سرمد</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه اتکایی ایرانیان -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/eteka.jpg"
                    alt="بیمه اتکایی ایرانیان"
                  />
                </span>
                <span>بیمه اتکایی ایرانیان</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه اتکایی امین -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/eteka-amin.png"
                    alt="بیمه اتکایی امین"
                  />
                </span>
                <span>بیمه اتکایی امین</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه حافظ -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/hafez.png"
                    alt="بیمه حافظ"
                  />
                </span>
                <span>بیمه حافظ</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه امید -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/omid.jpg"
                    alt="بیمه امید"
                  />
                </span>
                <span>بیمه امید</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه ایران میهن -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/iran-mihan.jpg"
                    alt="بیمه ایران میهن"
                  />
                </span>
                <span>بیمه ایران میهن</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه متقابل کیش -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/kish.jpg"
                    alt="بیمه متقابل کیش"
                  />
                </span>
                <span>بیمه متقابل کیش</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه آسماری -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/asmari.jpg"
                    alt="بیمه آسماری"
                  />
                </span>
                <span>بیمه آسماری</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه حکمت صبا -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/hekmat.jpg"
                    alt="بیمه حکمت صبا"
                  />
                </span>
                <span>بیمه حکمت صبا</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- بیمه زندگی خاورمیانه -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/insurance/khavar.jpg"
                    alt="بیمه زندگی خاورمیانه"
                  />
                </span>
                <span>بیمه زندگی خاورمیانه</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- عناوین کل اخبار -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <i class="fa fa-rss fa-xs" style="color: orange"></i>
                </span>
                <span>عناوین کل اخبار</span>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="header__bottom-slider-item">
        <span class="divider"></span>
      </li>

      <!-- آیتم کارگزاری های برتر با زیرمنو -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn">کارگزاری های برتر</button>

        <div class="header__bottom-item-container">
          <div>
            <!-- صفحه اصلی کارگزاری های برتر -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <i class="fa fa-home"></i>
                </span>
                <span>صفحه اصلی کارگزاری های برتر</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- کارگزاری مفید -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/brokers/mofid.png"
                    alt="کارگزاری مفید"
                  />
                </span>
                <span>کارگزاری مفید</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- کارگزاری فارابی -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/brokers/farabi.png"
                    alt="کارگزاری فارابی"
                  />
                </span>
                <span>کارگزاری فارابی</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- کارگزاری آگاه -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/brokers/agah.png"
                    alt="کارگزاری آگاه"
                  />
                </span>
                <span>کارگزاری آگاه</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- کارگزاری کاریزما -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/brokers/karizma.png"
                    alt="کارگزاری کاریزما"
                  />
                </span>
                <span>کارگزاری کاریزما</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- کارگزاری مبین سرمایه -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/brokers/mobin-sarmaye.png"
                    alt="کارگزاری مبین سرمایه"
                  />
                </span>
                <span>کارگزاری مبین سرمایه</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- کارگزاری پاسارگاد -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/brokers/pasragad.png"
                    alt="کارگزاری پاسارگاد"
                  />
                </span>
                <span>کارگزاری پاسارگاد</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- کارگزاری حافظ -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/brokers/hafez.png"
                    alt="کارگزاری حافظ"
                  />
                </span>
                <span>کارگزاری حافظ</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- کارگزاری اقتصاد بیدار -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/brokers/eghtesad-bidar.png"
                    alt="کارگزاری اقتصاد بیدار"
                  />
                </span>
                <span>کارگزاری اقتصاد بیدار</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- کارگزاری نهایت نگر -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/brokers/nahayat.png"
                    alt="کارگزاری نهایت نگر"
                  />
                </span>
                <span>کارگزاری نهایت نگر</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- کارگزاری پارسیان -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/brokers/parsian.png"
                    alt="کارگزاری پارسیان"
                  />
                </span>
                <span>کارگزاری پارسیان</span>
              </div>
              <div>
                <span class="divider"></span>
              </div>
            </div>

            <!-- کارگزاری سهم آشنا -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <img
                    src="./public/images/brokers/shm-ashna.png"
                    alt="کارگزاری سهم آشنا"
                  />
                </span>
                <span>کارگزاری سهم آشنا</span>
              </div>
              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <!-- عناوین کل اخبار -->
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <i class="fa fa-rss fa-xs" style="color: orange"></i>
                </span>
                <span>عناوین کل اخبار</span>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="header__bottom-slider-item">
        <span class="divider"></span>
      </li>

      <!-- آیتم نفت و گاز -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn">نفت و گاز</button>
      </li>

      <li class="header__bottom-slider-item">
        <span class="divider"></span>
      </li>

      <!-- آیتم پتروشیمی با زیرمنو -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn">پتروشیمی</button>

        <div class="header__bottom-item-container">
          <div>
            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <i class="fa fa-home fa-xs"></i>
                </span>
                <span>صفحه اصلی پتروشیمی</span>
              </div>

              <div>
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span
                  ><img
                    src="./public/images/petrochemicals/khorasan.png"
                    alt=""
                /></span>
                <span>پتروشیمی خراسان</span>
              </div>

              <div class="d-none d-md-block">
                <span class="divider"></span>
              </div>
            </div>

            <div class="header__bottom-item-name">
              <div>
                <span class="header__bottom-item-icon">
                  <i class="fa fa-rss fa-xs" style="color: orange"></i>
                </span>
                <span>عناوین کل اخبار</span>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="header__bottom-slider-item">
        <span class="divider"></span>
      </li>

      <!-- آیتم صنعت آب و برق -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn">صنعت آب و برق</button>
      </li>

      <li class="header__bottom-slider-item">
        <span class="divider"></span>
      </li>

      <!-- آیتم صنایع و معادن -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn">صنایع و معادن</button>
      </li>

      <li class="header__bottom-slider-item">
        <span class="divider"></span>
      </li>

      <!-- آیتم تجارت و بازرگانی -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn">تجارت و بازرگانی</button>
      </li>

      <li class="header__bottom-slider-item">
        <span class="divider"></span>
      </li>

      <!-- آیتم کار و تعاون -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn">کار و تعاون</button>
      </li>

      <li class="header__bottom-slider-item">
        <span class="divider"></span>
      </li>

      <!-- آیتم اقتصاد شهری -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn">اقتصاد شهری</button>
      </li>

      <li class="header__bottom-slider-item">
        <span class="divider"></span>
      </li>

      <!-- آیتم اقتصاددیجیتالی -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn">اقتصاددیجیتالی</button>
      </li>

      <li class="header__bottom-slider-item">
        <span class="divider"></span>
      </li>

      <!-- آیتم کشاورزی و دامپروری -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn">کشاورزی و دامپروری</button>
      </li>

      <li class="header__bottom-slider-item">
        <span class="divider"></span>
      </li>

      <!-- آیتم اخبارشرکت ها -->
      <li class="header__bottom-slider-item">
        <button class="header__bottom-item-btn">اخبارشرکت ها</button>
      </li>
    </ul>

    <!-- فلش جهت چپ و راست (در صورت نیاز) -->
    <span id="header-bottom-left-icon" class="header__bottom-left-icon">
      <i class="fa-solid fa-angle-left"></i>
    </span>
  </div>
</section>
