<section class="header__middle">
  <nav class="navbar navbar-expand-lg">
    <div class="header__middle-content">
      <div class="header__middle-content-bars">
        <button
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa-solid fa-bars fa-lg"></i>
        </button>

        <img
          src="./public/images/logo.png"
          alt="logo"
          class="header__middle-content-logo"
        />
      </div>

      <img
        src="./public/images/newYear.jpg"
        alt="new year logo"
        class="header__middle-content-logo-year"
      />
    </div>

    <div class="header__middle-bars order-1">
      <button
        class="header__middle-bars-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa-solid fa-bars fa-lg"></i>
      </button>

      <img
        src="./public/images/logo.png"
        alt="logo"
        class="header__middle-logo"
      />
    </div>

    <div
      class="collapse navbar-collapse order-3 order-lg-2"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            اخبار و رویداد‌ها
          </a>
          <ul class="dropdown-menu">
            <div class="header__middle-dropdown-container">
              <div class="header__middle-dropdown-wrapper">
                <p class="header__middle-dropdown-title">دسته‌بندی عمومی</p>
                <div class="header__middle-dropdown__items--basic">
                  <span>عناوین کل سرویس</span>
                  <span>سیاست</span>
                  <span>فرهنگ</span>
                  <span>ورزش</span>
                  <span>جامعه</span>
                  <span>فناوری</span>
                  <span>سلامت</span>
                  <span>استانها</span>
                  <span>گفتگو</span>
                  <span>یادداشت</span>
                  <span>توئیت</span>
                  <span>اینستاگرام</span>
                  <span>پژوهش</span>
                </div>
              </div>

              <div class="header__middle-dropdown-wrapper">
                <p class="header__middle-dropdown-title">
                  دسته‌بندی تخصصی اقتصاد
                </p>
                <div class="header__middle-dropdown__items--3col">
                  <span>عناوین کل سرویس</span>
                  <span>جهان</span>
                  <span>اکو | ECO</span>
                  <span>کلان و بودجه</span>
                  <span>بانک</span>
                  <span>بیمه</span>
                  <span>کارگزاری های برتر</span>
                  <span>نفت و گاز</span>
                  <span>پتروشیمی</span>
                  <span>صنعت آب و برق</span>
                  <span>صنایع و معادن</span>
                  <span>تجارت و بازرگانی</span>
                  <span>کار و تعاون</span>
                  <span>اقتصاد شهری</span>
                  <span>اقتصاددیجیتالی</span>
                  <span>کشاورزی و دامپروری</span>
                  <span>اخبارشرکت ها</span>
                </div>
              </div>

              <div class="header__middle-dropdown-wrapper">
                <p class="header__middle-dropdown-title">دسته‌بندی ویژه</p>
                <div class="header__middle-dropdown__items--basic">
                  <span>عناوین کل سرویس</span>
                  <span>بازار سرمایه</span>
                  <span>چهره‌های شاخص</span>
                  <span>اقتصاد دانش بنیان</span>
                  <span>اقتصاد فرهنگ و هنر</span>
                  <span>اقتصاد ورزش</span>
                  <span>خودرو</span>
                  <span>راه و شهرسازی</span>
                  <span>اقتصاد سبز</span>
                  <span>توریسم و گردشگری</span>
                  <span>سبک زندگی</span>
                  <span>راهنمای بازار</span>
                  <span>اقتصاد سلامت</span>
                </div>
              </div>
            </div>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            نرخ‌ها و داده‌ها
          </a>
          <ul class="dropdown-menu">
            <div class="header__middle-dropdown-container">
              <ul class="header__middle-dropdown__items--2col-grid">
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  ارز ها
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  قیمت طلا و سکه
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  نفت و سوخت
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  فلزات پایه
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  کالاهای جهانی
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  بورس جهانی
                </li>
              </ul>
            </div>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            استان‌ها
          </a>
          <ul class="dropdown-menu">
            <div class="header__middle-dropdown-container">
              <ul class="header__middle-dropdown__items--2col-grid">
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  آذربایجان شرقی
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  آذربایجان غربی
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  اردبیل
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  اصفهان
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  البرز
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  ایلام
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  بوشهر
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  تهران
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  چهارمحال و بختیاری
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  خراسان جنوبی
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  خراسان رضوی
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  خراسان شمالی
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  خوزستان
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  زنجان
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  سمنان
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  سیستان و بلوچستان
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  فارس
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  قزوین
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  قم
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  کردستان
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  کرمان
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  کرمانشاه
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  کهگیلویه و بویراحمد
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  گلستان
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  گیلان
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  لرستان
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  مازندران
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  مرکزی
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  هرمزگان
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  همدان
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  یزد
                </li>
              </ul>
            </div>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            مناطق آزاد
          </a>
          <ul class="dropdown-menu">
            <div class="header__middle-dropdown-container">
              <ul class="header__middle-dropdown__items--logo-grid">
                <li>
                  <img src="./public/images/maku.png" alt="maku logo" />
                </li>
                <li>
                  <img src="./public/images/kish.png" alt="kish logo" />
                </li>
                <li>
                  <img src="./public/images/qeshm.png" alt="qeshm logo" />
                </li>
                <li>
                  <img src="./public/images/chabahar.png" alt="chabahar logo" />
                </li>
                <li>
                  <img src="./public/images/anzali.png" alt="anzali logo" />
                </li>
                <li>
                  <img src="./public/images/arvand.png" alt="arvand logo" />
                </li>
                <li>
                  <img src="./public/images/aras.png" alt="aras logo" />
                </li>
              </ul>
            </div>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            چند رسانه‌ای
          </a>
          <ul class="dropdown-menu">
            <div class="header__middle-dropdown-container">
              <ul class="header__middle-dropdown__items--4col-grid">
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  فیلم
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  صوت
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  کلیپ
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  تیزر
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  عکس
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  اینفوگرافی
                </li>
                <li>
                  <i class="fa-solid fa-chevron-left fa-sm"></i>
                  کاریکاتور
                </li>
              </ul>
            </div>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">نیازمندی‌ها</a>
        </li>

        <li class="nav-item d-lg-none">
          <a
            class="nav-link"
            href="#"
            style="display: flex; align-items: center; gap: 8px"
          >
            <i class="fas fa-search fa-xs"></i> جستجو
          </a>
        </li>
      </ul>
    </div>

    <img
      src="./public/images/newYear.jpg"
      alt="new year logo"
      class="header__middle-logo-year order-2 order-lg-3"
    />
  </nav>
</section>
