<div class="footer-container">
  <div class="footer__top">
    <div class="footer__top-widget">
      <a href="#header" class="footer__top-widget-icon">
        <i class="fa-solid fa-chevron-up"></i>
      </a>

      <span class="divider"></span>

      <span class="footer__top-widget-icon"
        ><i class="fa-solid fa-rss"></i
      ></span>

      <span class="divider"></span>

      <span class="footer__top-widget-icon"
        ><i class="fa-solid fa-home"></i
      ></span>

      <span class="divider"></span>

      <span class="footer__top-widget-temp">
        <img src="../../../../public/images/sunny.png" alt="sun image" />
        <span>دمای کنونی: 16 °</span>
      </span>

      <select class="footer__top-widget-provinces">
        <option value="iran-tehran">تهران</option>
        <option value="iran-rasht">رشت</option>
        <option value="iran-mashhad">مشهد</option>
        <option value="iran-isfahan">اصفهان</option>
        <option value="iran-karaj">کرج</option>
        <option value="iran-shiraz">شیراز</option>
      </select>
    </div>
    <div class="footer__top-search">
      <input type="text" placeholder="جستجو در سایت" />
      <i class="fa-solid fa-search"></i>
    </div>
  </div>

  <div class="footer__middle">
    <div class="footer__middle-title">
      <div>
        <span>eco</span>
        <span>news</span>
        <span></span>
      </div>
    </div>

    <div class="footer__middle-social"></div>

    <div class="footer__middle-nav">
      <ul>
        <li>درباره ما</li>
        <li>ارتباط با ما</li>
        <li>آرشیو</li>
        <li>پیوندها</li>
        <li>نقشه سایت</li>
        <li>انتقاد و پیشنهاد</li>
        <li>اعلام مشکل</li>
        <li>میثاق حرفه‌ای</li>
      </ul>

      <ul>
        <li>پیشنهاد سوژه</li>
        <li>قیمت سکه و طلا</li>
        <li>نرخ ها و نمودارها</li>
        <li>شاخص بورس</li>
        <li>قیمت خودرو</li>
        <li>آمار و شاخص ها</li>
        <li>رویدادها و نمایشگاهها</li>
        <li>تحلیل های اقتصادی</li>
      </ul>

      <ul>
        <li>عناوین کل اخبار</li>
        <li>عناوین اقتصادی</li>
        <li>دریافت خبرنامه</li>
        <li>اخبار استان ها</li>
        <li>پیشخوان روزنامه ها</li>
        <li>پرونده ویژه</li>
        <li>مناطق آزاد</li>
      </ul>

      <ul>
        <li>استخدام</li>
        <li>بولتن خبری</li>
        <li>نیازمندیهای رایگان</li>
        <li>ثبت آگهی</li>
        <li>راهنمای خرید</li>
        <li>ثبت شکایت</li>
        <li>برندهای برتر</li>
        <li>رپرتاژ خبری</li>
      </ul>

      <ul>
        <li>چندرسانه ای</li>
        <li>فضای مجازی</li>
        <li>توییت</li>
        <li>اینستاگرام</li>
        <li>عکس</li>
        <li>اینفوگرافیگ</li>
        <li>طرح و کاریکاتور</li>
        <li>فیلم و صوت</li>
      </ul>
    </div>
  </div>

  <div class="footer__bottom">
    <div>
      <div class="footer__bottom-image">
        <img src="../../../../public/images/logo.png" alt="logo image" />
      </div>

      <p class="footer__bottom-copyright">
        کلیه حقوق مادی و معنوی این سایت متعلق به هلدینگ فرهنگی،اقتصادی و رسانه
        ای اکو می باشد و استفاده از مطالب با ذکر منبع بلامانع است .
      </p>
    </div>
  </div>
</div>
