<section class="highlights">
  <div class="highlights__item"></div>

  <div class="highlights__provinces">
    <div class="highlights__header">
      <div class="highlights__header-title order-1 order-md-1">
        <span><i class="fa-solid fa-bars"></i> استان‌ها</span>
        <i class="fa-solid fa-angle-left"></i>
      </div>

      <div class="highlights__header-config order-2 order-md-3">
        <div class="highlights__header-config-content">
          <span><i class="fa-solid fa-rss"></i></span>
          <span class="highlights__gear"><i class="fa-solid fa-gear"></i></span>
        </div>

        <div class="highlights__header-config-option">
          <ul>
            <li>
              <i class="fa-solid fa-xmark"></i>
              <span>مخفی کردن شاخه</span>
            </li>
            <li>
              <i class="fa-solid fa-angle-up"></i>
              <span>انتقال کادر به بالا</span>
            </li>
            <li>
              <i class="fa-solid fa-angle-down"></i>
              <span>انتقال کادر به پایین</span>
            </li>
            <li>
              <i class="fa-solid fa-plus"></i>
              <span>افزودن کادر جدید</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="highlights__header-headline order-3 order-md-2">
        <ul>
          <li>ورود به سایت گیلان</li>
        </ul>
      </div>
    </div>

    <div class="highlights__provinces-content-container">
      <div class="highlights__provinces-card-container">
        <div class="highlights__provinces-card">
          <div class="highlights__provinces-card-image">
            <img
              src="../../../public/images/highlights/provinces-image-1.jpg"
              alt="provinces-image-1"
            />
          </div>

          <span>هدر سرمایه‌های میلیاردی برای ساخت فرودگاه‌های غیرفعال</span>
        </div>

        <div class="highlights__provinces-card">
          <div class="highlights__provinces-card-image">
            <img
              src="../../../public/images/highlights/provinces-image-2.jpg"
              alt="provinces-image-1"
            />
          </div>

          <span>تکمیل پروژه‌های آبیاری و زهکشی توسط بخش خصوصی</span>
        </div>

        <div class="highlights__provinces-card">
          <div class="highlights__provinces-card-image">
            <img
              src="../../../public/images/highlights/provinces-image-3.jpg"
              alt="provinces-image-1"
            />
          </div>

          <span>طرحی برای واردات خودرو توسط عشایر</span>
        </div>

        <span class="highlights__provinces-card-more">بیشتر ...</span>
      </div>

      <div class="highlights__provinces-map">
        <select
          name="free-zone"
          id="free-zone"
          class="highlights__provinces-map-free-zone"
        >
          <option value="">انتخاب منطقه آزاد</option>
          <option value="aras">ارس</option>
          <option value="arvand">اروند</option>
          <option value="anzali">انزلی</option>
          <option value="chabahar">چابهار</option>
          <option value="qeshm">قشم</option>
          <option value="kish">کیش</option>
          <option value="maku">ماکو</option>
        </select>
      </div>

      <div class="highlights__provinces-ads">
        <img src="../../../public/images/highlights/provinces-ads.gif" alt="" />
      </div>
    </div>
  </div>

  <div class="highlights__need">
    <div class="highlights__header">
      <div class="highlights__header-title order-1 order-md-1">
        <span><i class="fa-solid fa-download"></i>نیازمندی‌ها</span>
        <i class="fa-solid fa-angle-left"></i>
      </div>

      <div class="highlights__header-ad order-2 order-md-3">
        <span><i class="fa-solid fa-plus fa-lg"></i>ثبت آگهی</span>
      </div>

      <div class="highlights__header-headline order-3 order-md-2">
        <ul>
          <li>مناقصه و مزایده</li>
          <li>زمین و مسکن</li>
          <li>خودرو</li>
          <li>بانک و بیمه</li>
          <li>گردشگری</li>
          <li>مواد غذایی</li>
          <li>کالای دیجیتال</li>
          <li>لوازم خانگی</li>
          <li>زیبایی و سلامت</li>
          <li>مد و لباس</li>
        </ul>
      </div>
    </div>

    <div class="highlights__need-content-container">
      <div class="highlights__need-image-container">
        <div>
          <img
            src="../../../public/images/highlights//need-image-1.jpg"
            alt="needs ads image"
          />

          <span class="image-overlay">طراحی و اجرا نما و دکوراسیون داخلی</span>
        </div>
      </div>

      <div class="highlights__need-image-container">
        <div>
          <img
            src="../../../public/images/highlights//need-image-2.jpg"
            alt="needs ads image"
          />

          <span class="image-overlay">اجاره آپارتمان مبله در تهران</span>
        </div>
      </div>

      <div class="highlights__need-image-container">
        <div>
          <img
            src="../../../public/images/highlights//need-image-3.jpg"
            alt="needs ads image"
          />

          <span class="image-overlay">فرح فرم ایرانیان</span>
        </div>
      </div>

      <div class="highlights__need-image-container">
        <div>
          <img
            src="../../../public/images/highlights//need-image-4.jpg"
            alt="needs ads image"
          />

          <span class="image-overlay">مجتمع صنایع غذایی گلها</span>
        </div>
      </div>
    </div>
  </div>
</section>
