<section class="partial">
  <div class="partial__market-wrapper--responsive">
    <div class="partial__title">
      <span
        ><i class="fa-regular fa-gem fa-lg"></i>
        <span> قیمت طلا،سکه و ارز </span>
      </span>

      <span>اطلاعات بیشتر</span>
    </div>

    <div class="nav nav-tabs partial__market-tabs" id="nav-tab" role="tablist">
      <button
        class="nav-link active"
        id="nav-gold-res-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-gold-res"
        type="button"
        role="tab"
        aria-controls="nav-gold-res"
        aria-selected="true"
      >
        طلا
      </button>

      <button
        class="nav-link"
        id="nav-coin-res-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-coin-res"
        type="button"
        role="tab"
        aria-controls="nav-coin-res"
        aria-selected="false"
      >
        سکه
      </button>

      <button
        class="nav-link"
        id="nav-currency-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-currency"
        type="button"
        role="tab"
        aria-controls="nav-currency"
        aria-selected="false"
      >
        ارز مبادله‌ای
      </button>

      <button
        class="nav-link"
        id="nav-equal-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-equal"
        type="button"
        role="tab"
        aria-controls="nav-equal"
        aria-selected="false"
      >
        برابری ارز
      </button>
    </div>

    <div id="nav-tabContent" class="tab-content partial__market-tab-content">
      <div
        class="tab-pane show active"
        id="nav-gold-res"
        role="tabpanel"
        aria-labelledby="nav-gold-res-tab"
        tabindex="0"
      >
        <ul class="partial__market-list">
          <li class="partial__market-list-item">
            <span>طلا</span>
            <span>قیمت</span>
            <span>تغییر</span>
          </li>

          <li class="partial__market-list-item">
            <span>اونس طلا</span>
            <span class="price-up">
              <span> ۳۰۲۰.۹۴ </span>
              <i class="fa-solid fa-caret-up fa-xs"></i
            ></span>
            <span>۱.۰۸ (۰.۰۴٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>مثقال طلا</span>
            <span>۳۴۷۲۹</span>
            <span>۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>طلا ۱۸ عیار</span>
            <span>۸۰۱۷۳۰۰</span>
            <span>۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>طلا ۲۴ عیار</span>
            <span>۱۰۶۸۹۵۲۱</span>
            <span>۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>اونس نقره</span>
            <span class="price-down">
              <span> ۳۳.۷۳۷۵ </span>
              <i class="fa-solid fa-caret-down fa-xs"></i
            ></span>
            <span>۰.۰۱ (۰.۰۳٪)</span>
          </li>
        </ul>
      </div>

      <div
        class="tab-pane"
        id="nav-coin-res"
        role="tabpanel"
        aria-labelledby="nav-coin-res-tab"
        tabindex="0"
      >
        <ul class="partial__market-list">
          <li class="partial__market-list-item">
            <span>سکه</span>
            <span>قیمت</span>
            <span>تغییر</span>
          </li>

          <li class="partial__market-list-item">
            <span>سکه امامی</span>
            <span>۹۷٬۰۰۰٬۰۰۰</span>
            <span>۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>سکه بهار آزادی</span>
            <span>۹۰٬۰۰۰٬۰۰۰</span>
            <span>۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>سکه نیم</span>
            <span>۶۰٬۰۰۰٬۰۰۰</span>
            <span>۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>سکه ربع</span>
            <span>۳۳٬۰۰۰٬۰۰۰</span>
            <span>۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>سکه گرمی</span>
            <span>۱۵٬۵۰۰٬۰۰۰</span>
            <span>۰ (۰٪)</span>
          </li>
        </ul>
      </div>

      <div
        class="tab-pane"
        id="nav-currency"
        role="tabpanel"
        aria-labelledby="nav-currency-tab"
        tabindex="0"
      >
        <ul class="partial__market-list">
          <li class="partial__market-list-item">
            <span>ارز</span>
            <span>قیمت</span>
            <span>تغییر</span>
          </li>

          <li class="partial__market-list-item">
            <span>
              <img src="./public/images/4x3/us.svg" alt="flag" />

              دلار</span
            >
            <span>۲۸۵,۰۰۰</span>
            <span>۰.۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>
              <img src="./public/images/4x3/eu.svg" alt="flag" />

              یورو</span
            >
            <span>۳۰۰,۳۲۵</span>
            <span>۰.۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>
              <img src="./public/images/4x3/sh.svg" alt="flag" />

              پوند</span
            >
            <span>۵۷۱۱۸</span>
            <span>۰.۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>
              <img src="./public/images/4x3/ae.svg" alt="flag" />

              درهم امارات</span
            >
            <span>۷۷,۶۰۴</span>
            <span>۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>
              <img src="./public/images/4x3/cn.svg" alt="flag" />

              یوآن چین</span
            >
            <span>۴۱,۱۳۳</span>
            <span>۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>
              <img src="./public/images/4x3/tr.svg" alt="flag" />

              لیر ترکیه</span
            >
            <span>۱۶,۹۷۷</span>
            <span>۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>
              <img src="./public/images/4x3/jp.svg" alt="flag" />

              صد ین ژاپن</span
            >
            <span>۳۶۲۳۳</span>
            <span>۰ (۰٪)</span>
          </li>
        </ul>
      </div>

      <div
        class="tab-pane"
        id="nav-equal"
        role="tabpanel"
        aria-labelledby="nav-equal-tab"
        tabindex="0"
      >
        <ul class="partial__market-list">
          <li class="partial__market-list-item">
            <span>ارز</span>
            <span>قیمت</span>
            <span>تغییر</span>
          </li>

          <li class="partial__market-list-item">
            <span>
              <img src="./public/images/4x3/eu.svg" alt="flag" />

              یورو</span
            >
            <span>۱٫۰۸</span>
            <span>۰٫۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>
              <img src="./public/images/4x3/sh.svg" alt="flag" />

              پوند</span
            >
            <span>۱٫۲۶</span>
            <span>۰٫۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>
              <img src="./public/images/4x3/ae.svg" alt="flag" />

              درهم امارات</span
            >
            <span>۰٫۲۷</span>
            <span>۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>
              <img src="./public/images/4x3/cn.svg" alt="flag" />

              یوآن چین</span
            >
            <span>۰٫۱۴</span>
            <span>۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>
              <img src="./public/images/4x3/tr.svg" alt="flag" />

              لیر ترکیه</span
            >
            <span>۰٫۰۶</span>
            <span>۰ (۰٪)</span>
          </li>

          <li class="partial__market-list-item">
            <span>
              <img src="./public/images/4x3/jp.svg" alt="flag" />

              صد ین ژاپن</span
            >
            <span>۰٫۶۷</span>
            <span>۰ (۰٪)</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row col-12 col-lg-9">
    <div class="d-none d-md-block col-md-8">
      <div class="partial__market-wrapper">
        <div class="partial__market-gold">
          <div class="partial__title">
            <span>
              <i class="fa-regular fa-gem fa-lg"></i>
              <span> قیمت طلا و سکه</span>
            </span>
            <span>اطلاعات بیشتر</span>
          </div>

          <div
            class="nav nav-tabs partial__market-tabs"
            id="nav-gold-coin-tab"
            role="tablist"
          >
            <button
              class="nav-link active"
              id="nav-gold-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-gold"
              type="button"
              role="tab"
              aria-controls="nav-gold"
              aria-selected="true"
            >
              قیمت طلا
            </button>
            <button
              class="nav-link"
              id="nav-coin-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-coin"
              type="button"
              role="tab"
              aria-controls="nav-coin"
              aria-selected="false"
            >
              قیمت سکه
            </button>
          </div>

          <div
            class="tab-content partial__market-tab-content"
            id="nav-gold-coin-tabContent"
          >
            <div
              class="tab-pane show active"
              id="nav-gold"
              role="tabpanel"
              aria-labelledby="nav-gold-tab"
              tabindex="0"
            >
              <ul class="partial__market-list">
                <li class="partial__market-list-item">
                  <span>طلا</span>
                  <span>قیمت</span>
                  <span>تغییر</span>
                  <span>نمودار</span>
                </li>
                <li
                  class="partial__market-list-item"
                  data-bs-toggle="tooltip-price"
                  data-bs-placement="top"
                  data-asset="اونس طلا"
                  data-time1="3330.1"
                  data-time2="3328.5"
                  data-time3="3331"
                >
                  <span>اونس طلا</span>
                  <span class="price-up">
                    <span> ۳۰۲۰.۹۴ </span>
                    <i class="fa-solid fa-caret-up fa-xs"></i>
                  </span>
                  <span>۱.۰۸ (۰.۰۴٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>مثقال طلا</span>
                  <span>۳۴۷۲۹</span>
                  <span>۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>طلا ۱۸ عیار</span>
                  <span>۸۰۱۷۳۰۰</span>
                  <span>۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>طلا ۲۴ عیار</span>
                  <span>۱۰۶۸۹۵۲۱</span>
                  <span>۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li
                  class="partial__market-list-item"
                  data-bs-toggle="tooltip-price"
                  data-bs-placement="top"
                  data-asset="اونس نقره"
                  data-time1="33"
                  data-time2="32.08"
                  data-time3="31.9"
                >
                  <span>اونس نقره</span>
                  <span class="price-down">
                    <span> ۳۳.۷۳۷۵ </span>
                    <i class="fa-solid fa-caret-down fa-xs"></i>
                  </span>
                  <span>۰.۰۱ (۰.۰۳٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
              </ul>
            </div>

            <div
              class="tab-pane"
              id="nav-coin"
              role="tabpanel"
              aria-labelledby="nav-coin-tab"
              tabindex="0"
            >
              <ul class="partial__market-list">
                <li class="partial__market-list-item">
                  <span>سکه</span>
                  <span>قیمت</span>
                  <span>تغییر</span>
                  <span>نمودار</span>
                </li>
                <li class="partial__market-list-item">
                  <span>سکه امامی</span>
                  <span>۹۷٬۰۰۰٬۰۰۰</span>
                  <span>۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>سکه بهار آزادی</span>
                  <span>۹۰٬۰۰۰٬۰۰۰</span>
                  <span>۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>سکه نیم</span>
                  <span>۶۰٬۰۰۰٬۰۰۰</span>
                  <span>۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>سکه ربع</span>
                  <span>۳۳٬۰۰۰٬۰۰۰</span>
                  <span>۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>سکه گرمی</span>
                  <span>۱۵٬۵۰۰٬۰۰۰</span>
                  <span>۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="partial__market-currency">
          <div class="partial__title">
            <span>
              <i class="fa-solid fa-money-bill"></i>
              <span>نرخ ارز</span>
            </span>
            <span>اطلاعات بیشتر</span>
          </div>

          <div
            class="nav nav-tabs partial__market-tabs"
            id="nav-currency-tab"
            role="tablist"
          >
            <button
              class="nav-link active"
              id="nav-nimaei-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-nimaei"
              type="button"
              role="tab"
              aria-controls="nav-nimaei"
              aria-selected="true"
            >
              نرخ ارز نیمایی
            </button>
            <button
              class="nav-link"
              id="nav-sana-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-sana"
              type="button"
              role="tab"
              aria-controls="nav-sana"
              aria-selected="false"
            >
              نرخ ارز سنا
            </button>
          </div>

          <div
            class="tab-content partial__market-tab-content"
            id="nav-currency-tabContent"
          >
            <div
              class="tab-pane show active"
              id="nav-nimaei"
              role="tabpanel"
              aria-labelledby="nav-nimaei-tab"
              tabindex="0"
            >
              <ul class="partial__market-list">
                <li class="partial__market-list-item">
                  <span>ارز</span>
                  <span>قیمت</span>
                  <span>تغییر</span>
                  <span>نمودار</span>
                </li>
                <li class="partial__market-list-item">
                  <span>
                    <img src="./public/images/4x3/us.svg" alt="flag" />
                    دلار
                  </span>
                  <span>۲۸۵,۰۰۰</span>
                  <span>۰.۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>
                    <img src="./public/images/4x3/eu.svg" alt="flag" />
                    یورو
                  </span>
                  <span>۳۰۰,۳۲۵</span>
                  <span>۰.۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>
                    <img src="./public/images/4x3/sh.svg" alt="flag" />
                    پوند
                  </span>
                  <span>۵۷۱۱۸</span>
                  <span>۰.۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>
                    <img src="./public/images/4x3/ae.svg" alt="flag" />
                    درهم امارات
                  </span>
                  <span>۷۷,۶۰۴</span>
                  <span>۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>
                    <img src="./public/images/4x3/cn.svg" alt="flag" />
                    یوآن چین
                  </span>
                  <span>۴۱,۱۳۳</span>
                  <span>۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>
                    <img src="./public/images/4x3/tr.svg" alt="flag" />
                    لیر ترکیه
                  </span>
                  <span>۱۶,۹۷۷</span>
                  <span>۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>
                    <img src="./public/images/4x3/jp.svg" alt="flag" />
                    صد ین ژاپن
                  </span>
                  <span>۳۶۲۳۳</span>
                  <span>۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
              </ul>
            </div>

            <div
              class="tab-pane"
              id="nav-sana"
              role="tabpanel"
              aria-labelledby="nav-sana-tab"
              tabindex="0"
            >
              <ul class="partial__market-list">
                <li class="partial__market-list-item">
                  <span>ارز</span>
                  <span>قیمت</span>
                  <span>تغییر</span>
                  <span>نمودار</span>
                </li>
                <li class="partial__market-list-item">
                  <span>
                    <img src="./public/images/4x3/eu.svg" alt="flag" />
                    یورو
                  </span>
                  <span>۱٫۰۸</span>
                  <span>۰٫۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>
                    <img src="./public/images/4x3/sh.svg" alt="flag" />
                    پوند
                  </span>
                  <span>۱٫۲۶</span>
                  <span>۰٫۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>
                    <img src="./public/images/4x3/ae.svg" alt="flag" />
                    درهم امارات
                  </span>
                  <span>۰٫۲۷</span>
                  <span>۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>
                    <img src="./public/images/4x3/cn.svg" alt="flag" />
                    یوآن چین
                  </span>
                  <span>۰٫۱۴</span>
                  <span>۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>
                    <img src="./public/images/4x3/tr.svg" alt="flag" />
                    لیر ترکیه
                  </span>
                  <span>۰٫۰۶</span>
                  <span>۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
                <li class="partial__market-list-item">
                  <span>
                    <img src="./public/images/4x3/jp.svg" alt="flag" />
                    صد ین ژاپن
                  </span>
                  <span>۰٫۶۷</span>
                  <span>۰ (۰٪)</span>
                  <span
                    data-bs-toggle="tooltip-chart"
                    data-bs-placement="top"
                    data-bs-title="نمودار"
                    ><i class="fa-solid fa-chart-column"></i
                  ></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="partial__converter-wrapper">
        <div class="partial__title">
          <span
            ><i class="fa-solid fa-rotate fa-lg"></i>
            <span>مبدل ارز و طلا</span>
          </span>

          <span>اطلاعات بیشتر</span>
        </div>

        <div class="partial__converter-operation-container">
          <input
            type="text"
            placeholder="مقدار را وارد نمایید"
            class="partial__converter-operation-input"
          />

          <div class="partial__converter-operation-select">
            <select name="converter-origin" id="converter-origin">
              <option value="">واحد مبدا</option>
              <option value="irt">تومان</option>
              <option value="usd">دلار</option>
              <option value="eur">یورو</option>
              <option value="gbp">پوند</option>
              <option value="aed">درهم امارات</option>
            </select>

            <select name="converter-destination" id="converter-destination">
              <option value="">واحد مقصد</option>
              <option value="irt">تومان</option>
              <option value="usd">دلار</option>
              <option value="eur">یورو</option>
              <option value="gbp">پوند</option>
              <option value="aed">درهم امارات</option>
            </select>
          </div>

          <div class="partial__converter-result-container">
            <span>نتیجه</span>
            <button>
              <span>محاسبه نتیجه </span>
              <i class="fa-solid fa-angle-left"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="partial__cards-wrapper"></div>
    </div>
  </div>

  <div class="partial__ads-container col-12 col-lg-3">
    <div class="col-12 col-md-3 col-lg-12">
      <img src="./public/images/partial-cards/ads-1.gif" alt="partial ads" />
    </div>
    <div class="col-12 col-md-3 col-lg-12">
      <img src="./public/images/partial-cards/ads-2.gif" alt="partial ads" />
    </div>
    <div class="col-12 col-md-3 col-lg-12">
      <img src="./public/images/partial-cards/ads-3.gif" alt="partial ads" />
    </div>
    <div class="col-12 col-md-3 col-lg-12">
      <img src="./public/images/partial-cards/ads-4.gif" alt="partial ads" />
    </div>
    <div class="col-12 col-md-3 col-lg-12">
      <img src="./public/images/partial-cards/ads-5.gif" alt="partial ads" />
    </div>
  </div>
</section>
