@use "variables" as *;
@use "mixin" as *;
@use "sass:color";

$pagination-Btn: (
  1: $chart-1,
  2: $chart-2,
  3: $chart-3,
  4: $chart-4,
  5: $chart-5,
  6: $chart-6,
  7: $chart-7,
  8: $chart-8,
);

@each $key, $color in $pagination-Btn {
  .main-slider__pagination-item[data-id="#{$key}"] {
    --pagination-color: #{$color};
  }
}

.main-slider {
  width: 100%;
  padding: 4px 8px;
  margin: 0 auto;

  @include respond-to(tablet) {
    max-width: 769px;
  }
  @include respond-to(desktop) {
    max-width: 993px;
  }
  @include respond-to(large) {
    max-width: 1215px;
  }
  @include respond-to(large2) {
    max-width: 1256px;
  }

  .splide__arrow {
    width: 5rem;
    height: 5rem;
    opacity: 0.6;
    background-color: inherit;

    &--prev {
      right: -50px;
    }

    &--next {
      left: -50px;
    }

    @include respond-to(large2) {
      &--prev {
        right: -60px;
      }

      &--next {
        left: -60px;
      }
    }

    svg {
      fill: var(--primary);
    }
  }

  &__slide {
    width: 100%;
    @include flex(column, nowrap, center, start, 8px);
    overflow: hidden;

    @include respond-to(tablet) {
      height: 455px;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: start;
      gap: 16px;
    }

    @include respond-to(large) {
      height: 525px;
    }
    @include respond-to(large2) {
      height: 530px;
    }
  }

  &__right {
    overflow: hidden;
    @include flex(column, nowrap, start, start);
  }

  &__vertical-slider {
    &-container {
      width: 100%;
      height: 25px;
      padding: 0 4px;
      @include flex(row, nowrap, center, start, 4px);
    }

    &-text {
      display: none;

      @include respond-to(tablet) {
        display: block;
        min-width: 75px;
        text-align: right;
        color: var(--custom-color);
      }
    }

    &-wrapper {
      width: 100%;
      height: 100%;
    }

    &-content {
      max-width: 400px;
      min-width: 200px;
      height: 100%;
      color: color.scale($hover-chart-5, $lightness: -10%);
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 17px;
      font-family: nassim-normal;

      &:hover {
        color: var(--primary);
      }
    }
  }

  &__image {
    width: 100%;
    @include flex(row, nowrap, center, center);
    position: relative;
    background-color: #fff;
    padding: 3px;
    padding-right: 9px;
    border: 1px solid var(--stroke);
    > div {
      width: 100%;
      position: relative;
      overflow: hidden;
    }
    img {
      width: 100%;
      cursor: pointer;
      @include image-zoom;
    }

    & .image-tooltip {
      background-color: var(--custom-color);
    }
  }

  &__cards {
    width: 100%;
    margin-top: 8px;
    @include flex(column, nowrap, start, start, 0px);

    @include respond-to(tablet) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 16px;
      margin-top: 8px;
    }

    @include respond-to(desktop) {
      margin-top: 16px;
    }

    @include respond-to(large2) {
      margin-top: 8px;
    }

    & .cards {
      padding-right: 8px;
    }
  }

  &__left {
    height: 100%;
    @include flex(column, nowrap, center, start, 8px);

    @include respond-to(tablet) {
      flex-flow: row nowrap;
      align-items: start;
      gap: 16px;
    }
  }

  &__category-news {
    width: 100%;
    @include flex();
    overflow: hidden;
    border-bottom: 1px solid var(--stroke);

    @include respond-to(tablet) {
      display: none;
      height: calc(100% - 1px);
    }

    @include respond-to(desktop) {
      width: 50%;
      display: flex;
    }
    @include respond-to(large2) {
      .category-news__content-container li:first-child {
        padding-top: 8px;
      }
    }

    & .category-news__title-container {
      width: auto;
      cursor: pointer;

      &:hover {
        & span:nth-child(2),
        i:nth-child(1) {
          color: var(--primary);
        }
      }
    }

    &:hover .category-news__title-container {
      transform: translateX(-6px);
    }
  }

  &__ads-container {
    width: 100%;
    @include flex(column, nowrap, start, start, 0px);

    @include respond-to(tablet) {
      width: 97%;
      height: calc(100% - 1px);
      gap: 8px;
    }
    @include respond-to(desktop) {
      width: 45%;
    }
    @include respond-to(large) {
      width: 46%;
    }
  }

  &__ads {
    width: 100%;
    @include flex(column, nowrap, center, start, 0px);

    &-number {
      display: none;

      @include respond-to(tablet) {
        width: 100%;
        height: auto;
        max-height: 28px;
        @include flex(row, nowrap, center, space-between, 0px);

        span {
          width: fit-content;
          color: var(--secondary);
          cursor: pointer;

          &:first-child {
            @include flex(row, nowrap, center, start, 8px);
            font-size: 15px;
          }
          &:last-child {
            font-size: 20px;
          }

          &:hover {
            color: var(--primary);
          }
        }

        & span:first-child:hover ~ span:last-child {
          color: var(--primary);
        }
      }
    }

    &-image {
      width: 100%;
      @include flex;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__topics {
    display: none;

    @include respond-to(tablet) {
      width: 100%;
      height: 100%;
      overflow: hidden;
      @include flex(column, nowrap, start, start);
      border-bottom: 1px solid var(--stroke);
    }

    &:hover > .main-slider__topics-title {
      transform: translateX(-6px);
    }

    &-title {
      width: 100%;
      @include flex(row, nowrap, center, start, 8px);
      color: var(--primary);
      transition: all 0.4s ease;
    }

    &-content {
      width: 100%;
      height: 400px;
      text-align: justify;
      background-color: #fff;
      border-left: 1px solid var(--stroke);
      border-top: 3px solid var(--header-bottom-color);
      padding: 8px;

      li,
      span {
        display: inline-block;
        list-style-type: none;
        font: {
          family: nassim-normal;
          size: 15px;
        }
        cursor: pointer;
        color: var(--hover-chart-5);

        &:hover {
          color: var(--primary);
        }

        &:nth-child(even) {
          color: var(--secondary);
        }
      }
    }
  }

  &__pagination {
    width: 100%;
    margin-top: 16px;
    padding: 4px 0px;

    &-container {
      width: 100%;
      @include flex(row, nowrap, center, start, 8px);
      overflow-x: auto;

      @include respond-to(tablet) {
        overflow: visible;
        justify-content: center;
      }
    }

    &-item {
      width: 12.5%;
      min-width: 50px;
      @include flex(column, nowrap, center, start, 4px);
      cursor: pointer;
      padding-bottom: 8px;

      &-btn {
        width: 100%;
        height: 6px;
        background-color: var(--stroke);
      }

      &-name {
        font-family: nassim-normal;
        font-size: 19px;
        color: var(--secondary);
      }

      &--active {
        .main-slider__pagination-item-btn {
          background-color: var(--pagination-color);
        }
        .main-slider__pagination-item-name {
          color: var(--pagination-color);
        }
      }

      &:hover {
        .main-slider__pagination-item-btn {
          background-color: var(--pagination-color);
        }
        .main-slider__pagination-item-name {
          color: var(--pagination-color);
        }
      }
    }

    &-ads {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}
