@use "variables" as *;
@use "sass:color";
@use "sass:map";

@mixin flex($dir: row, $wrap: wrap, $items: center, $justify: center, $gap: 0) {
  display: flex;
  flex-flow: $dir $wrap;
  align-items: $items;
  justify-content: $justify;
  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin respond-to($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Invalid breakpoint: #{$breakpoint}. Available breakpoints are: #{map.keys($breakpoints)}";
  }
}

@mixin hover($bg, $color, $transition: none, $duration: 0, $ease: ease) {
  transition: $transition $duration $ease;
  color: $color;

  &:hover {
    background-color: $bg;
  }
}
