@use "variables" as *;
@use "sass:color";
@use "sass:map";

@mixin flex($dir: row, $wrap: wrap, $items: center, $justify: center, $gap: 0) {
  display: flex;
  flex-flow: $dir $wrap;
  align-items: $items;
  justify-content: $justify;
  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin card-title {
  width: 100%;
  @include flex(row, nowrap, center, space-between, 8px);
  padding: 4px 0;

  & > span:first-child {
    font-family: nassim-normal;
    font-size: 15px;
    color: var(--secondary);
    transition: all 0.4s ease;
    @include flex(row, nowrap, center, start, 8px);
  }

  & > span:last-child {
    background-color: var(--stroke);
    font-family: yekan;
    font-size: 11px;
    border-radius: 0 0 2px 2px;
    padding: 1px 8px;
    cursor: pointer;

    &:hover {
      background-color: var(--secondary);
      color: var(--bg-color);
    }
  }
}

@mixin respond-to($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Invalid breakpoint: #{$breakpoint}. Available breakpoints are: #{map.keys($breakpoints)}";
  }
}

@mixin hover($bg, $color: #000, $transition: none, $duration: 0, $ease: ease) {
  transition: $transition $duration $ease;
  color: $color;

  &:hover {
    background-color: $bg;
  }
}

@mixin image-zoom {
  transition: all 0.9s ease-in-out;
  transform-origin: center;

  &:hover {
    transform: scale(1.02);
  }
}
