@use "variables" as *;
@use "mixin" as *;
@use "sass:color";

.partial {
  width: 100%;
  padding: 8px;
  margin: 0 auto;
  @include flex(column, nowrap, center, start, 8px);

  @include respond-to(tablet) {
    max-width: 769px;
    flex-flow: row wrap;
    row-gap: 8px;
    column-gap: 0;
  }
  @include respond-to(desktop) {
    max-width: 993px;
    align-items: start;
  }
  @include respond-to(large) {
    max-width: 1215px;
  }
  @include respond-to(large2) {
    max-width: 1256px;
  }

  &__title {
    @include card-title;
  }

  &__market {
    &-wrapper--responsive {
      width: 100%;
      @include flex(column, nowrap, center, start, 0px);

      &:hover .partial__title > span:first-child {
        transform: translateX(-6px);
      }

      @include respond-to(tablet) {
        display: none;
      }
    }

    &-tabs {
      width: 100%;
      @include flex(row, nowrap, center, space-between, 0);

      .nav-link {
        border: none;
        border-radius: 0px;
        border-top: 3px solid var(--primary);
        width: 100%;
        font-family: nassim-normal;
        color: var(--secondary);
        font-size: clamp(14px, 30vw, 16px);
        box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.36),
          inset 0 0 8px 1px rgba(165, 164, 164, 0.5);
        transition: none;
        white-space: nowrap;

        &.active {
          color: var(--primary);
          border-top: 3px solid color.scale($primary, $lightness: 10%);
          box-shadow: none;
          background-color: var(--bg-color);

          &:hover {
            box-shadow: none;
          }
        }
        &:hover {
          box-shadow: 0 0 13px #c0c0c0 inset;
          border-top: 3px solid var(--primary);
          background-color: var(--bg-color);
        }
      }
    }

    &-tab-content {
      width: 100%;
      height: 224px;
      border-bottom: 1px solid var(--stroke);
      border-left: 1px solid var(--stroke);

      @include respond-to(tablet) {
        height: 220px;
      }
      @include respond-to(large) {
        height: 245px;
      }

      div {
        width: 100%;
        height: 100%;
      }

      #nav-currency,
      #nav-equal,
      #nav-nimaei,
      #nav-sana {
        height: 224px;
        overflow-y: scroll;

        @include respond-to(tablet) {
          height: 220px;
        }
        @include respond-to(large) {
          height: 245px;
        }
      }
    }

    &-list {
      width: 100%;
      @include flex(column, nowrap, center, start, 0);

      &-item {
        width: 100%;
        @include flex(row, nowrap, center, space-between, 4px);
        background-color: #fff;
        border-bottom: 1px solid var(--stroke);

        &:hover {
          background-color: #fff0e5;
        }

        & > span {
          width: 100%;
          @include flex(row, nowrap, center, center, 4px);
          font-family: yekan;
          font-size: 12px;
          padding: 8px 8px 8px 0;
          white-space: nowrap;
          cursor: default;

          @include respond-to(large) {
            justify-content: end;
          }

          & > img {
            width: 16px;
            height: 11px;
          }

          &:first-child {
            width: 100%;
            font-family: nassim-normal;
            font-size: 13px;
            @include flex(row, nowrap, center, start, 0);
          }
        }

        &:first-child {
          background-color: var(--bg-color);
          position: sticky;
          top: 0;
          border-left: 1px solid var(--stroke);
          span {
            font-size: 16px;
            font-family: nassim-normal;
          }

          &:hover {
            background-color: var(--bg-color);
          }
        }

        & span .fa-chart-column {
          width: 100%;
          padding: 3px 4px 3px 5px;
          border: 1px solid var(--stroke);
          font-size: 1rem;
          color: var(--primary);

          &:hover {
            background-color: var(--primary);
            color: var(--bg-color);
          }
        }

        @include respond-to(tablet) {
          & > span:last-child {
            display: none;
          }
        }
        @include respond-to(large) {
          & > span:last-child {
            display: block;
            width: 40px;
            margin: 0 5px 0 10px;
          }
        }
      }
    }

    &-wrapper {
      display: none;

      @include respond-to(tablet) {
        @include flex(row, nowrap, center, space-between, 16px);
        padding-left: 8px;
      }
    }

    &-gold,
    &-currency {
      display: none;

      @include respond-to(tablet) {
        width: 100%;
        @include flex(column, nowrap, center, start, 0px);

        &:hover .partial__title > span:first-child {
          transform: translateX(-6px);
        }
      }
    }
  }

  &__converter {
    &-wrapper {
      &:hover .partial__title > span:first-child {
        transform: translateX(-6px);
      }

      @include respond-to(tablet) {
        padding-right: 8px;
      }
    }

    &-operation-container {
      width: 100%;
      @include flex(column, nowrap, center, start, 0px);
    }

    &-operation-input {
      width: 100%;
      height: 60px;
      text-align: center;
      font-size: 17px;
      font-weight: bold;
      font-family: yekan;
      padding: 10px 16px;
      background-color: #fff;
      border: 1px solid var(--stroke);
      border-top: 3px solid var(--primary);
      appearance: none;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

      &::placeholder {
        color: color.scale($secondary, $lightness: 30%);
      }

      &:focus {
        border-top-width: 4px;
        border-color: var(--primary);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
          0 3px 8px var(--primary);
      }

      @include respond-to(tablet) {
        height: 58px;
      }
      @include respond-to(large) {
        height: 60px;
      }
    }

    &-operation-select {
      width: 100%;
      border-left: 1px solid var(--stroke);
      border-radius: 0;
      @include flex(row, nowrap, center, space-between, 32px);

      @include respond-to(tablet) {
        flex-direction: column;
        gap: 0;
      }

      & #converter-origin,
      #converter-destination {
        width: 100%;
        height: 60px;
        border-radius: 0;
        padding: 15px 8px;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        color: var(--secondary);
        background-color: #f5f5f5;
        box-shadow: inset 0 0 6px #bbb;
        appearance: none;
        background-image: url("../../../public/images/down-chevron.png");
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 1.1rem;

        @include respond-to(tablet) {
          height: 58px;
        }
        @include respond-to(large) {
          height: 60px;
        }
      }
    }

    &-result-container {
      width: 100%;
      @include flex(column, nowrap, center, start, 0px);

      & > :first-child {
        width: 100%;
        background-color: color.scale($menu-color, $lightness: 10%);
        padding: 14px 10px;
        text-align: center;
        color: var(--bg-color);
        font-size: 17px;
        font-weight: bold;
        font-family: yekan;

        @include respond-to(tablet) {
          height: 44px;
          padding: 8px;
        }
        @include respond-to(large) {
          height: auto;
          padding: 14px 10px;
        }
      }

      & > :last-child {
        width: 100%;
        @include flex(row, nowrap, center, center, 8px);
        background-color: var(--primary);
        color: var(--bg-color);
        text-align: center;
        padding: 15px 0;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: color.scale($primary, $lightness: -10%);
        }

        @include respond-to(tablet) {
          height: 45px;
        }
        @include respond-to(large) {
          height: auto;
        }
      }
    }
  }

  &__cards {
    &-wrapper {
      @include flex(column, wrap, center, start, 4px);

      @include respond-to(tablet) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 16px;
        row-gap: 8px;
      }
    }
  }

  &__ads-container {
    margin-top: 4px;
    @include flex(column, nowrap, center, start, 8px);

    @include respond-to(tablet) {
      @include flex();
      gap: 16px;
      margin-top: 0px;
    }
    @include respond-to(desktop) {
      height: 250px;
      @include flex(column, nowrap, start, start, 8px);
      margin-top: 31px;
      padding-right: 16px;
    }

    img {
      width: 100%;
    }
  }
}
