$bg-color: #f2f2f2;
$primary: #bb0000;
$secondary: #656565;
$stroke: #dedede;
$divider: #a0a0a0;

$menu-color: #1b1b1b;
$menu-color-hover: #21212141;
$menu-item-hover: #901b20;
$menu-wrapper: #313131;
$header-bottom-color: #c9c9c9;

$chart-1: #b22222;
$chart-2: #3300cc;
$chart-3: #0040ad;
$chart-4: #7b68ee;
$chart-5: #ba55d3;
$chart-6: #ff8c00;
$chart-7: #f08080;
$chart-8: #006600;
$chart-9: #198b8b;
$chart-10: #c41f82;
$chart-11: #c9432c;

$hover-chart-1: #483f88;
$hover-chart-2: #d81b3c;
$hover-chart-3: #1f99ca;
$hover-chart-4: #25bd30;
$hover-chart-5: #376797;
$hover-chart-6: #c91bc8;
$hover-chart-7: #196afa;
$hover-chart-8: #d8a433;
$hover-chart-9: #890503;
$hover-chart-10: #2a8a2e;
$hover-chart-11: #2e92fb;
$hover-chart-12: #7d149d;

$telegram: #3088b4;
$instagram: #8f5943;
$linkedin: #145b99;
$google-plus: #a63329;
$twitter: #31a0c5;
$facebook: #334a79;

$breakpoints: (
  mobile: 320px,
  tablet: 768px,
  desktop: 992px,
  large: 1200px,
  large2: 1300px,
);
