@use "variables" as *;
@use "mixin" as *;

:root {
  --bg-color: #{$bg-color};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --stroke: #{$stroke};
  --divider: #{$divider};

  --menu-color: #{$menu-color};
  --menu-color-hover: #{$menu-color-hover};
  --menu-item-hover: #{$menu-item-hover};
  --menu-wrapper: #{$menu-wrapper};
  --header-bottom-color: #{$header-bottom-color};

  --chart-1: #{$chart-1};
  --chart-2: #{$chart-2};
  --chart-3: #{$chart-3};
  --chart-4: #{$chart-4};
  --chart-5: #{$chart-5};
  --chart-6: #{$chart-6};
  --chart-7: #{$chart-7};
  --chart-8: #{$chart-8};
  --chart-9: #{$chart-9};
  --chart-10: #{$chart-10};

  --hover-chart-1: #{$hover-chart-1};
  --hover-chart-2: #{$hover-chart-2};
  --hover-chart-3: #{$hover-chart-3};
  --hover-chart-4: #{$hover-chart-4};
  --hover-chart-5: #{$hover-chart-5};
  --hover-chart-6: #{$hover-chart-6};
  --hover-chart-7: #{$hover-chart-7};
  --hover-chart-8: #{$hover-chart-8};
  --hover-chart-9: #{$hover-chart-9};
  --hover-chart-10: #{$hover-chart-10};
  --hover-chart-11: #{$hover-chart-11};
  --hover-chart-12: #{$hover-chart-12};
}

@font-face {
  font-family: "nassim-normal";
  src: url("../../../public/font/nassim-normal.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "nassim-bold";
  src: url("../../../public/font/nassim-bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "yekan";
  src: url("../../../public/font/yekan-normal.woff") format("woff");
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "nassim-bold";
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: var(--bg-color);
  position: relative;
}

header {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

main {
  width: 100%;
  @include flex(column, nowrap, center, center, 0);
  margin: 0 auto;
}

footer {
  @extend main;
}

.error-alert {
  &-container {
    width: 100%;
    @include flex(row, nowrap, center, center, 0);
    background-color: var(--primary);
    margin-top: 20px;
  }
  &-content {
    width: 100%;
    text-align: center;
    margin: 0;
    color: var(--bg-color);
    padding: 8px;
  }
}

.splide {
  &__arrow {
    width: 1rem;
    height: 1rem;
    background-color: inherit;

    &--prev {
      left: 0;
    }

    &--next {
      right: 4px;
    }
  }
}

.divider {
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: var(--divider);
}

.image {
  &-tooltip {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-color);
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 2px;
  }

  &-overlay {
    @include flex(row, nowrap, center, start, 0);
    width: 100%;
    padding: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: clamp(16px, 2vw, 30px);
    color: var(--bg-color);
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.dropdown-item {
  &:hover {
    background-color: inherit;
  }
  &:active {
    background-color: inherit;
  }
}

.price {
  &-up {
    color: green;
  }

  &-down {
    color: red;
  }
}

.tooltip {
  &__chart-custom {
    --bs-tooltip-bg: var(--menu-color);
    --bs-tooltip-color: var(--bg-color);
    --bs-tooltip-border-radius: 0;
    --bs-tooltip-opacity: 1;

    .tooltip-inner {
      font-family: nassim-normal;
      font-size: 12px;
    }
  }

  &__price-custom {
    --bs-tooltip-bg: #fff;
    --bs-tooltip-border-radius: 0;
    --bs-tooltip-opacity: 1;

    .tooltip-inner {
      font-family: nassim-normal;
      font-size: 12px;
      color: #000;
      width: 150px;
      border: 1px solid var(--stroke);
      & > span {
        width: 100%;
        @include flex(row, nowrap, center, start, 0px);
        padding: 8px 0;
        border-bottom: 1px solid var(--stroke);
      }

      & li {
        width: 100%;
        @include flex(row, nowrap, center, center, 8px);
        margin-top: 4px;
        padding: 4px 0;
        border-bottom: 1px solid var(--stroke);

        & span:last-child {
          background-color: var(--stroke);
          padding: 4px;
        }
      }
    }
  }
}
