@use "variables" as *;
@use "mixin" as *;
@use "header-bottom-menu-hover" as *;
@use "sass:color";
@use "sass:map";

// TOP

.header__top {
  @include flex(row, nowrap, center, space-between, 50px);
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;

  &-right {
    @include flex(row, nowrap, center, start, 16px);
    padding-right: 8px;

    .dropdown-menu {
      width: 192px;
      max-width: fit-content;
      background-color: #fff;
      border: 1px solid var(--stroke);
      padding: 12px;
    }

    &-date {
      display: none;

      @include respond-to(tablet) {
        @include flex(row, nowrap, center, start, 4px);
        span {
          font-family: yekan;
          font-size: 12px;
        }
      }
    }

    &-login {
      width: 110px;
      font-size: 13px;
      background-color: var(--secondary);
      color: var(--bg-color);
      border-radius: 2px;
      cursor: pointer;
      padding: 3px 0;
      @include flex(row, nowrap, center, center, 4px);

      &-button {
        background-color: inherit;
        color: var(--bg-color);
        @include flex(row, nowrap, center, center, 4px);
      }

      &-inputs {
        @include flex(column, nowrap, center, start, 0px);
        padding: 0;

        .header__top-right-login-input {
          width: 100%;
          border: 1px solid var(--stroke);
          padding: 8px 4px;
          font-family: nassim-normal;
          font-size: 13px;

          &:focus {
            box-shadow: 0 0 5px 0px var(--primary);
            border: 1px solid var(--primary);
          }
        }
      }

      &-remember {
        width: 100%;
        @include flex(row, nowrap, center, start, 8px);
        font-size: 13px;
        padding: 8px 0;

        label {
          font-family: nassim-normal;
        }
      }

      &-actions {
        width: 100%;
        @include flex(row, nowrap, center, center, 0);
        padding: 0;

        .header__top-right-login-submit,
        .header__top-right-register {
          width: 80px;
          padding: 6px 12px;
          background-color: var(--primary);
          color: #fff;
          font-family: nassim-normal;
          font-size: 14px;
        }
        .header__top-right-login-submit {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
        .header__top-right-register {
          background-color: var(--bg-color);
          color: #000;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
    }
  }

  &-left {
    @include flex(row, nowrap, center, end, 8px);
    overflow: hidden;
    padding-left: 8px;

    &-menu {
      @include flex(row, nowrap, center, start, 12px);
      font-size: 11px;
      overflow-x: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &-item {
        @include flex(row, nowrap, center, center, 4px);
        padding: 7px 4px;
        cursor: pointer;
        min-width: fit-content;

        &:first-child {
          border-right: 1px solid var(--stroke);
        }

        @include respond-to(desktop) {
          @include hover(var(--stroke));
        }
      }

      @include respond-to(tablet) {
        display: none;
      }

      @include respond-to(desktop) {
        overflow-x: visible;
        display: flex;
        font-size: 13px;
      }
    }

    &-search {
      display: none;

      @include respond-to(tablet) {
        display: block;
        background-color: var(--stroke);
        padding: 4px 10px;
        @include flex(row, nowrap, center, space-between);
        font-size: 13px;
        font-family: tahoma;
      }

      &-input {
        background-color: inherit;
        margin-right: 8px;
      }
    }
  }
}

// MIDDLE

.header__middle {
  @include flex(row, nowrap, center, center);
  width: 100%;
  background-color: var(--primary);
  margin: 0 auto;

  @include respond-to(desktop) {
    position: relative;
  }

  .navbar {
    width: 100%;
    max-width: 1246px;
    align-items: center !important;
    padding: 0;

    &-collapse {
      margin: 0;
      width: 100%;
      background-color: var(--menu-color);

      @include respond-to(desktop) {
        width: 100%;
        margin-right: 8px;
        background-color: transparent;
        background-image: url("../../../public/images/header-overlay.png");
        background-repeat: no-repeat;
        background-position: center right;
      }
    }

    &-nav {
      @include respond-to(desktop) {
        width: 100%;
        padding: 0;
        @include flex(row, nowrap, center, start, 4px);
      }
    }
  }

  .nav-item {
    padding: 0;
    margin: 0;

    @include respond-to(desktop) {
      position: static;
    }

    &:hover {
      .nav-link {
        background-color: var(--menu-item-hover);
        border-radius: 2px;

        @include respond-to(desktop) {
          background-color: var(--menu-color-hover);
          box-shadow: 0 0 2px 2px var(--menu-color-hover) inset;
          backdrop-filter: blur(5px);
        }
      }

      .dropdown-menu {
        @include respond-to(desktop) {
          display: block;
        }
      }
    }
  }

  .nav-link {
    color: var(--bg-color);
    font-size: 1.2rem;
    padding: 12px 8px;

    @include respond-to(desktop) {
      padding: 25px 0;
      transition: all 0.2s ease;
    }

    &::after {
      vertical-align: middle;
    }

    &:focus,
    &:hover,
    &:visited {
      color: var(--bg-color) !important;
    }
  }

  &-bars-button {
    margin: 4px 8px;
    margin-left: 8px;
    background-color: var(--primary);
    color: var(--bg-color);
    padding: 8px 12px 4px;
    border-radius: 2px;

    &:hover {
      background-color: var(--menu-color);
    }
    border: 1px solid var(--menu-color);

    @include respond-to(desktop) {
      display: none;
    }
  }

  &-logo,
  &-logo-year {
    max-width: 135px;

    @include respond-to(large) {
      max-width: fit-content;
    }

    &-year {
      margin-left: 8px;
      @include respond-to(large) {
        padding: 0;
      }
    }
  }

  .dropdown-menu {
    width: 100vw;
    position: absolute;
    top: 98%;
    right: calc(50% - 50vw);
    background-color: #111111;
    border: none;
    border-radius: 0;
    border-bottom: 5px solid var(--primary);
    padding: 0;
    margin: 0;
  }

  &-dropdown {
    &-container {
      width: 100%;
      @include flex(column, nowrap, center, start);
      color: var(--bg-color);

      @include respond-to(desktop) {
        max-width: 1246px;
        width: 100%;
        @include flex(row, nowrap, start, center, 12px);
        margin: 0 auto;
        padding: 0 8px;
        margin-bottom: 8px;
      }
    }

    &-wrapper {
      width: 100%;
      @include flex(column, nowrap, center, start);
      border: 8px solid var(--menu-wrapper);

      @include respond-to(desktop) {
        border: none;
        background-color: var(--menu-color);
        margin-top: 12px;
      }
    }

    &-title {
      width: 100%;
      text-align: center;
      @include flex(row, nowrap, center, center);
      margin: 0;
      padding: 4px;
      background-color: var(--menu-wrapper);
      cursor: pointer;

      @include hover(var(--primary), #fff, all, 0.3s, ease);
    }

    &__items {
      &--base {
        width: 100%;
        background-color: var(--menu-color);
        padding: 8px;
        @include flex(row, wrap, center, start, 5px);

        span,
        li {
          text-align: start;
          font-size: 15px;
          font-family: nassim-normal;
          cursor: pointer;
          transition: all 0.2s ease;
        }
      }

      &--grid-base {
        width: 100%;
        display: grid;
        column-gap: 8px;
        padding: 8px 0;

        li {
          @include flex(row, nowrap, center, start, 8px);
          width: 100%;
          padding: 4px;
          margin: 4px;
          border-left: 1px solid var(--menu-wrapper);
          transition: inherit;

          &:last-child {
            border: none;
          }

          &:hover {
            background-color: var(--primary);
            i {
              color: var(--bg-color) !important;
            }
          }

          i {
            color: var(--primary);
            transition: inherit;
          }
        }
      }

      &--basic {
        @extend .header__middle-dropdown__items--base;

        span {
          width: 49%;
          &:hover {
            padding-right: 6px;
            background-color: var(--primary);
          }
        }
      }

      &--3col {
        @extend .header__middle-dropdown__items--base;

        span {
          width: 32%;
          &:hover {
            padding-right: 6px;
            background-color: var(--primary);
          }
        }
      }

      &--2col-grid {
        @extend .header__middle-dropdown__items--grid-base;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        @include respond-to(desktop) {
          grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
          background-color: #111111;
        }
      }

      &--4col-grid {
        @extend .header__middle-dropdown__items--grid-base;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        @include respond-to(desktop) {
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
          background-color: #111111;
        }
      }

      &--logo-grid {
        width: 100%;
        @include flex(row, nowrap, center, start);
        justify-content: space-between;
        gap: 0;
        padding: 8px 0;

        li {
          width: 49.8%;
          @include flex();
          background-color: #fff;
          border-radius: 8px;
          margin: 4px 0;
          cursor: pointer;

          @include respond-to(desktop) {
            width: auto;
            border: 5px solid #fff;
            transition: all 0.1s ease;

            &:hover {
              border-color: var(--primary);
            }
          }
        }

        @include respond-to(desktop) {
          justify-content: center;
          gap: 16px;
          background-color: #111111;
        }
      }
    }
  }
}

//  BOTTOM

.header__bottom {
  @include flex(row, nowrap, center, center);
  width: 100%;
  background-color: var(--stroke);
  position: relative;

  &-container {
    width: 100%;
    max-width: 1275px;
    padding: 0 4px;
    margin: 0 auto;
    @include flex(row, nowrap, center, space-between);
  }

  &-right-icon,
  &-left-icon {
    cursor: pointer;
    border-radius: 2px;
    padding: 8px 4px;
    @include flex();
    &:hover {
      background-color: var(--bg-color);
    }
  }

  &-slider {
    width: 100%;
    @include flex(row, nowrap, center, flex-start, 0px);
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &-item {
      min-width: 5px;
      white-space: nowrap;
      list-style-type: none;
      @include flex(column, nowrap, center, center);
      flex-shrink: 0;
      cursor: pointer;

      &:hover {
        .header__bottom-item-container {
          width: 100vw;
          @include flex();
          position: absolute;
          top: 32px;
          left: 0;
          background-color: var(--header-bottom-color);
          border-bottom: 1px solid var(--secondary);
          z-index: 10;

          > div {
            width: 100%;
            max-width: 1246px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 8px;

            @include respond-to(desktop) {
              grid-template-columns: repeat(4, 1fr);
            }

            @include respond-to(large) {
              grid-template-columns: repeat(6, 1fr);
            }
          }
        }
      }
    }
  }

  &-item {
    &-btn {
      width: 100%;
      font-size: 16px;
      font-family: nassim-normal;
      font-weight: 400;
      background-color: inherit;
      @include flex(row, nowrap, center, center, 8px);
      padding: 6px;
    }

    &-container {
      display: none;
    }

    &-name {
      width: 100%;
      @include flex(row, nowrap, center, space-between);
      padding: 6px 8px;
      gap: 8px;
      border-radius: 2px;
      margin-right: 5px;

      div {
        @include flex(row, nowrap, center, flex-start, 8px);
      }

      span {
        color: var(--menu-wrapper);
        font-family: nassim-normal;
        font-weight: 400;
        font-size: 16px;
      }
    }

    &-icon {
      @include flex();
      width: 15px;
      height: 15px;
      background-color: var(--bg-color);
      border-radius: 4px;
    }

    &-bars {
      padding: 16px 4px;
      &:hover {
        background-color: var(--header-bottom-color);
      }
    }
  }
}
