@use "variables" as *;
@use "mixin" as *;

.main {
  &__slider {
    &--section {
      width: 100%;
      max-width: 1246px;
      padding: 4px 8px;
      margin: 0 auto;
      @include respond-to(tablet) {
        max-width: 87%;
      }
      @include respond-to(large) {
        max-width: 1246px;
      }

      .splide__arrow {
        width: 5rem;
        height: 5rem;
        opacity: 0.6;

        &--prev {
          right: -60px;
        }

        &--next {
          left: -60px;
        }

        svg {
          fill: var(--primary);
        }
      }
    }

    &--right {
      width: 100%;
      @include flex(column, nowrap, start, start);

      @include respond-to(tablet) {
        width: 70%;
      }

      @include respond-to(desktop) {
        width: 50%;
      }
    }

    &--headline-news {
      width: 100%;
      height: 30px;
      padding: 0 4px;
      @include flex(row, nowrap, start, start, 8px);

      @include respond-to(desktop) {
        height: 24px;
      }
    }

    &--image {
      width: 100%;
      @include flex(row, nowrap, center, center);
      position: relative;
      background-color: #fff;
      padding: 3px;
      border: 1px solid var(--stroke);
      > div {
        width: 100%;
        position: relative;
        overflow: hidden;
      }
      img {
        width: 100%;
        cursor: pointer;
        @include image-zoom;
      }
    }

    &--cards {
      width: 100%;
      margin-top: 14px;
      @include flex(row, wrap, start, start, 12px);

      @include respond-to(tablet) {
        flex-flow: row nowrap;
      }
    }

    &--card {
      width: 100%;
      height: 104px;
      @include flex(row, nowrap, center, start, 4px);
      background-color: #fff;
      padding: 12px;
      border-bottom: 1px solid var(--stroke);
      border-left: 1px solid var(--stroke);
      border-radius: 2px;
      cursor: pointer;

      @include respond-to(desktop) {
        width: 50%;
      }

      &:hover {
        .main__slider--card-content span {
          color: var(--primary);
        }
      }

      &-content {
        @include flex(column, nowrap, start, start);

        span {
          &:first-child {
            width: 150px;
            color: var(--secondary);
            font-size: 13px;
            font-family: nassim-normal;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &:last-child {
            width: 100%;
            font-size: clamp(14px, 2vw, 16px);
            line-height: 19px;
          }
        }
      }
    }

    &--left {
      width: 100%;
      @include flex(column, nowrap, start, start, 8px);

      @include respond-to(tablet) {
        width: 30%;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 16px;
      }

      @include respond-to(desktop) {
        width: 50%;
      }
    }

    &--latest {
      &-news {
        width: 100%;
        @include flex(column, nowrap, start, start);

        @include respond-to(tablet) {
          display: none;
        }

        @include respond-to(desktop) {
          width: 222px;
          display: flex;
        }

        @include respond-to(large) {
          width: 295px;
        }
      }

      &-top {
        width: 100%;
        height: 28px;
        @include flex(row, nowrap, center, start, 4px);

        i {
          margin-left: 4px;
        }
      }

      &-bottom {
        width: 100%;
        @include flex(column, nowrap, start, start, 0px);
        background-color: #fff;
        padding: 0px 5px;
        border-left: 1px solid var(--stroke);
        border-bottom: 1px solid var(--stroke);

        li {
          width: 100%;
          @include flex(row, nowrap, center, start, 4px);
          max-height: 33.5px;
          border-bottom: 1px solid var(--stroke);
          padding: 7px 0px 5px;
          cursor: pointer;

          span {
            font-family: nassim-normal;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
          }

          &:hover {
            color: var(--primary);
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }

    &--ads-container {
      width: 100%;
      @include flex(column, nowrap, center, start, 0px);
      padding: 0 4px;

      @include respond-to(tablet) {
        gap: 4px;
      }

      @include respond-to(desktop) {
        width: 222px;
      }

      @include respond-to(large) {
        width: 295px;
      }
    }
    &--ads {
      width: 100%;
      @include flex(column, nowrap, center, start, 4px);
    }
    &--ads-number {
      display: none;

      @include respond-to(tablet) {
        width: 100%;
        height: 24px;
        @include flex(row, nowrap, center, space-between, 0px);
        overflow: hidden;
        color: var(--secondary);
        cursor: pointer;

        span {
          &:first-child {
            width: 100%;
            @include flex(row, nowrap, center, start, 8px);
            font-size: 15px;
            white-space: nowrap;
          }
          &:last-child {
            width: 100%;
            color: var(--secondary);
            font-size: 20px;
            @include flex(row, nowrap, center, end, 0px);
            margin-left: 8px;
          }
        }

        &:hover span {
          color: var(--primary);
        }

        @include respond-to(desktop) {
          height: 21px;
        }
      }
    }
    &--ads-image {
      width: 100%;
      @include flex(row, nowrap, center, center);

      img {
        width: 295px;
        height: 295px;

        @include respond-to(tablet) {
          width: 222px;
          height: 222px;
        }

        @include respond-to(large) {
          width: 295px;
          height: 295px;
        }
      }
    }

    &--topics {
      display: none;

      @include respond-to(tablet) {
        width: 100%;
        @include flex(column, nowrap, start, start);

        &-top {
          width: 100%;
          @include flex(row, nowrap, center, start, 8px);
          color: var(--primary);
          border-bottom: 3px solid var(--header-bottom-color);
          padding: 2px;

          span {
            transition: all 0.4s ease;

            &:hover {
              transform: translateX(-6px);
            }
          }
        }

        &-content {
          width: 100%;
          height: 175px;
          overflow: hidden;
          text-align: justify;
          background-color: #fff;
          border-left: 1px solid var(--stroke);
          border-bottom: 1px solid var(--stroke);
          padding: 8px;

          li {
            display: inline-block;
            list-style-type: none;
            font: {
              family: nassim-normal;
              size: 15px;
            }
            cursor: pointer;
            color: var(--hover-chart-5);

            &:hover {
              color: var(--primary);
            }

            &:nth-child(even) {
              color: var(--secondary);
            }
          }
        }
      }
    }

    &--pagination {
      width: 100%;
      margin-top: 16px;
      padding: 4px 8px;
    }
  }

  &__splide--container {
    width: 100%;
    @include flex(column, nowrap, start, start, 16px);

    @include respond-to(tablet) {
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }

  &-headline-slider {
    width: 100%;
    height: 100%;
  }
}

.headline-slider {
  max-width: 400px;
  min-width: 200px;
  height: 100%;
  color: darken($hover-chart-5, 10%);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17px;
  font-family: nassim-normal;

  &:hover {
    color: var(--primary);
  }
}

.slider__pagination {
  &--container {
    width: 100%;
    @include flex(row, nowrap, center, center, 8px);
  }

  &--item {
    width: 12.5%;
    @include flex(column, nowrap, center, start, 4px);
    cursor: pointer;

    &-btn {
      width: 100%;
      height: 6px;
      background-color: var(--stroke);
    }

    &-name {
      font-family: nassim-normal;
      font-size: 19px;
      color: var(--secondary);
    }
  }
}

$pagination-Btn: (
  1: $chart-1,
  2: $chart-2,
  3: $chart-3,
  4: $chart-4,
  5: $chart-5,
  6: $chart-6,
  7: $chart-7,
  8: $chart-8,
);

@each $key, $color in $pagination-Btn {
  .slider__pagination--item[data-id="#{$key}"]:hover,
  .slider__pagination--item[data-id="#{$key}"].active-slide-btn {
    .slider__pagination--item-btn {
      background-color: $color;
    }
    .slider__pagination--item-name {
      color: $color;
    }
  }
}

.slider__ads--container {
  width: 100%;

  img {
    width: 100%;
  }
}
